[2021-09-13 17:50] MichaelClifford opened #3 "Get Access to Example Data Set"
In order to start working on both the data viz demo or the model serving demo, we will need access to the data.

Acceptance Criteria:

- [x] Provide documentation on existing data, where it is located, and how members of the ai coe can request access.

[2021-09-13 18:29] MichaelClifford opened #4 "Create Notebooks for Demo #1"
Demo 1 should ingesting raw data into trino, run a join against a different federated data table, collect the results, and visualize it.

This will require 2 notebooks. One to ingest raw data into trino (work has already started [here](https://github.com/os-climate/data-platform-demo/blob/master/notebooks/itr-ingest-raw-emissions.ipynb)) and a second to interact with the data and run a join with t

[2021-09-13 18:45] MichaelClifford opened #5 "Add demo repository to list of jh images on the spawner page"
We should be able to start our demo from the JH spawner UI on the OS-Climate Cluster. We have an existing [tutorial](https://www.operate-first.cloud/users/data-science-workflows/docs/create_and_deploy_jh_image.md) that shows how to add repo content images to the list of available images to be spawned by JH.

Acceptance Criteria:

- [x] This repo can be selected as a content image from the JH spawn

[2021-09-13 18:56] MichaelClifford opened #6 "Create Superset Dashboard"
Create a basic Superset dashboard on os-climate cluster with the available data showing some basic stats and ensure the trino/cloudbeaver/superset connections are working correctly.

Acceptance Criteria:
- [x] Create a basic Superset dashboard with the available data
- [x] Showing some basic stats on the dataset
- [x] Ensure the trino/cloudbeaver/superset connections are working correctly.

[2021-09-13 19:53] MichaelClifford opened #7 "Create GPU enabled images for Demo 2"
Demo 2 will require GPU enabled model training. For this to work, we need to ensure that the images that are built and used for the training notebook as part of our Elyra Pipeline correctly use GPU  nodes.

Acceptance Criteria:

- [ ]  Build images with the correct set of requirements to use GPU during training.
- [ ]  Ensure that GPU's are being used while running the notebooks as a KFpipeline.

[2021-09-13 20:11] MichaelClifford opened #8 "Prepare Demo 2 for Serving Model Inferences"
Demo 2 will involve serving a model and interacting with its deployed endpoint. This requires us to prepare a flask app, similar to [this one](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/master/wsgi.py), as well as the appropriate set of manifests, similar to [these]( https://github.com/AICoE/elyra-aidevsecops-tutorial/tree/master/manifests/base).

Acceptance Criteria:

- [ ] Create a

[2021-09-13 20:15] MichaelClifford opened #9 "Update Readme"
SSIA

[2021-09-13 20:21] MichaelClifford opened #10 "Use Pre-existing NLP model"
Demo 2 will rely on a pre-existing NLP model. We need to determine where it is, what its expected inputs are and how we can integrate it into a elyra training pipeline.

Acceptance Criteria:

- [x] Use pre-existing NLP model in demo 2

[2021-09-13 20:27] MichaelClifford opened #11 "Write notebooks for Demo 2 training pipeline"
Demo 2 will train a pre-existing model (#10). We need to write notebook(s) that can be used as part of an elyra pipeline to, read training data from remote storage, train the pre-existing model, determine performance metrics,  and store model in remote storage. We also need a notebook that interacts with the deployed model endpoint.

Acceptance Criteria:

- [ ] Collect training data
- [ ] Train mo

[2021-09-16 18:57] chauhankaranraj commented on #4
/assign @chauhankaranraj @Shreyanand

[2021-09-16 19:36] MichaelClifford opened #12 "Apply Superset query as data source for a chart."
We would like to be able to define SQL queries in superset and use the output of the query as a data set that can be visualized in  a chart. According to [this article](https://stackoverflow.com/questions/66008622/how-to-select-a-query-as-datasource-in-apache-superset/66013281#66013281) it should be possible.

However, from experience "if you run the query, you get an `Explore` button that seems t

[2021-09-17 12:14] MichaelClifford commented on #12
resolved : )

[2021-09-17 12:14] #12 closed

[2021-09-17 17:51] oindrillac commented on #6
The connections between S3 storage, Trino, Superset work as expected. Apart from the tables and charts which already exist and were created by @erikerlandson, we tried creating additional charts and dashboards to make sure the connections are working.

We read the `fundamental_data` sheet from S3 storage > which has a table `fundamental_data` in the schema `company_data` in db `demo1` in Trino > t

[2021-09-17 17:57] oindrillac opened #13 "Automate notebooks for Demo #1 using Elyra pipelines"
Demo 1 has notebooks which ingest raw data from S3 and update them as tables on Trino.

We want to automate these notebooks from #4 by setting up Elyra pipelines which can run on Kubeflow Pipelines.

Acceptance Criteria:
- [ ] Make necessary modifications in notebooks from #4 to make them suitable to run using Elyra pipelines.
- [ ] Create elyra pipeline config, add the configuration to the repo a

[2021-09-17 18:02] oindrillac opened #14 "Create SuperSet Dashboard for Demo #1"
Demo # 1 needs us to display results from various tables as charts on a dashboard in Superset.

As we have a working connection between S3, Trino and Superset as tested out in #6, we want to create charts and dashboard using the tables created on Trino by the notebooks running in automation.

Acceptance Criteria:
- [ ] Verify that tables created in Trino are in the expected format.
- [ ] Import ta

[2021-09-17 18:03] #6 closed

[2021-09-20 18:05] aakankshaduggal commented on #6
Link to dashboard : https://superset-secure-odh-superset.apps.odh-cl1.apps.os-climate.org/superset/dashboard/2/

[2021-09-20 18:07] #3 closed

[2021-09-21 20:07] #4 closed

[2021-09-21 20:45] MichaelClifford opened #17 "Spike: Can we start a pipeline run from a Ceph Bucket notification to automate table creation?"
As a user of the os-climate platform I would like trino table creation to be fully automated. At the moment, this would mean, if I upload a new (or updated) csv file, then the pipeline containing demo1-create-table.ipynb will run adding a new table to trino with the correct schema.

Acceptance Criteria:

- [ ] Is this possible to do with Bucket Notifications?

[2021-09-21 20:54] MichaelClifford opened #18 "Add metrics to be tracked during kfpipeline runs for Demo 1"
As a data scientists I would like to be able to keep track of metrics produced by my pipeline, data processing and model training notebooks. To do this we should add metrics to our notebooks that will be stored and tracked via kfpipelines (see the [docs here](https://www.kubeflow.org/docs/components/pipelines/sdk/pipelines-metrics/)).

Acceptance Criteria:

- [ ] Include metrics in the demo1 pipel

[2021-09-22 20:16] MichaelClifford opened #19 "Add ReviewNB"
As a data scientist collaborating on Jupyter notebooks on GitHub, I would like a better way to review PR's  than looking at raw .ipynb files. This can be done my adding the [ReviewNB](www.reviewnb.com) tool to our repo.

Acceptance Criteria:

- [x] ReviewNB is enabled on this repo.

[2021-09-27 06:27] oindrillac opened #20 "New major release"
Hey, Kebechet!

Create a new major release, please.

[2021-09-27 06:28] #20 closed

[2021-09-27 14:25] oindrillac opened #22 "New major release"
Hey, Kebechet!

Create a new major release, please.

[2021-09-27 21:06] #22 closed

[2021-09-27 21:06] oindrillac opened #23 "New major release"
Hey, Kebechet!

Create a new major release, please.

[2021-09-27 22:13] oindrillac commented on #23
Manually created a tag release

[2021-09-28 13:18] MichaelClifford commented on #23
can this be closed then @oindrillac ?

[2021-09-28 13:22] oindrillac commented on #23
yes.

[2021-09-28 13:22] #23 closed

[2021-09-28 14:02] harshad16 opened #24 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v.10

[2021-09-28 16:00] sesheta commented on #24
Successfully built and delivered the image.
Image can be found at:[quay.io/os-climate/aicoe-osc-demo:v.10](https://quay.io/os-climate/aicoe-osc-demo:v.10)

[2021-09-28 16:02] #24 closed

[2021-09-29 15:28] Shreyanand opened #25 "Create a JH image for running extraction and curation on OS climate JH cluster"
While running the extraction and curation notebook, we encountered this error
![Screenshot from 2021-09-29 11-23-54](https://user-images.githubusercontent.com/8916126/135299944-98d4778a-c7be-4ca0-b765-1dae7ed09f06.png)

It seems that we'd require root access to get this dependency installed. To be able to run it on the cluster and later with KF pipelines, we will need an image that has this depend

[2021-09-29 16:32] MichaelClifford commented on #25
Is this for demo 2?

[2021-09-29 16:35] chauhankaranraj commented on #25
Yep, one of the dependencies in a notebook for demo 2 seems to need a access to a system file

[2021-09-29 21:09] Shreyanand opened #26 "Text extraction notebook"
For issue #11, write a notebook that takes PDF and extracts texts from them. As a first step for demo 2, use this notebook to create the processed data required for the curation step.

[2021-09-29 21:20] chauhankaranraj opened #28 "Table extraction notebook"
Write a notebook that takes PDFs as input and extracts table data from them. This notebook would run in parallel with the notebook in #26. The output of this notebook would be the processed data required for the curation step.

Related to #11

[2021-09-30 20:14] Shreyanand opened #29 "Text Curation Notebook"
For the second step of the pipeline for demo 2, we have to combine extracted text from step 1 (issue #26) and annotated files in the data folder to curate the dataset for training the language model.

Acceptance

- [ ] Notebook  that curates PDF text data

Related Issue
#11

[2021-10-01 19:03] #19 closed

[2021-10-01 19:07] MichaelClifford commented on #18
@oindrillac and @aakankshaduggal can you add some metrics to track through KFpipelines to the notebooks once https://github.com/os-climate/aicoe-osc-demo/pull/31#pullrequestreview-769290463 is merged?

[2021-10-01 19:08] aakankshaduggal commented on #18
Sure @MichaelClifford :+1:

[2021-10-01 19:13] #13 closed

[2021-10-03 14:38] MichaelTiemannOSC opened #32 "Storing data locally in data/raw subdirectory is invisible to Notebook's GitHub"
**Describe the bug**
I've uploaded a file to the data/raw directory in the file tree rooted in my clone of the aicoe template at https://github.com/MichaelTiemannOSC/osc-ingest-sample_corp_data/

However, no GitHub actions are available for that file, and it does not show up as anything wihin my Git view.  The notebook file I have created in the notebook/ subdirectory is perfectly visible to Git,

[2021-10-04 12:39] MichaelClifford commented on #32
Hi @MichaelTiemannOSC , this is actually the expected behavior of the template. The idea here is that the code for either generating or accessing the data is stored in git, but the data itself is not. To that end we add the data directory to our [.gitignore](https://github.com/aicoe-aiops/project-template/blob/53fa1033b3aaf8648af4cc845dabfc023d526f8e/.gitignore#L78-L79) file. I think  this is a re

[2021-10-04 12:44] MichaelTiemannOSC commented on #32
That will teach me to read the docs and source more carefully the next time.  Thanks!

[2021-10-04 12:44] #32 closed

[2021-10-04 13:21] MichaelClifford commented on #32
:+1: Also an indication to us that we can probably improve the template's docs. Thanks!

[2021-10-04 17:37] aakankshaduggal commented on #14
For the Superset Dashboard, we were able to access the tables created in Trino and import them in Superset.
We are keeping a track of metrics in the [document](https://docs.google.com/document/d/1UhO0obL0z-fTOk-yqhCTSzzUay8yM2hJ5USinsdVCQc/edit?usp=sharing). Please feel free to add and suggest any metrics you think would be a good addition to the dashboard.

Please find the work in progress for th

[2021-10-04 18:01] oindrillac commented on #18
We are logging some kfpipelines metrics to be tracked from the `demo1-create-tables.ipynb` and `demo1-join-tables.ipynb` notebooks from demo1 [here](https://docs.google.com/document/d/1Bs09e3Piz82zwjGyaPc8uWwC-O7nw-muxi4C9P--6R8/edit?usp=sharing). Please feel free to add any additional metrics as you see fit.

[2021-10-04 18:14] #5 closed

[2021-10-04 18:18] chauhankaranraj commented on #5
Closed by operate-first/apps#1108

[2021-10-04 19:24] MichaelClifford commented on #18
:+1:  This is a good list to start with :)

[2021-10-08 15:25] MichaelClifford commented on #14
Can you add an exported dashboard file to this repo and link the PR to this issue to close it?

[2021-10-08 21:33] oindrillac opened #38 "Update schema for itr_emissions_1 table for better visualizations"
Columns `base_year_ghg_emissions_s1_tco2e`, `base_year_ghg_emissions_s1s2_tco2e`, `base_year_ghg_emissions_s3_tco2e` in dataset `UrgentemDataSampleEmissionsTargetsDec2020.csv` consist of numeric values, but are represented as string datatypes and stored as VARCHAR while creation of tables.

![image](https://user-images.githubusercontent.com/32435206/136626454-54aab2f6-6bc5-4042-97ac-11abe542b480.p

[2021-10-11 16:21] chauhankaranraj opened #39 "Update notebooks to work with data on s3"
Currently the notebooks for demo 2 are designed to read and write data locally. These should be updated to read data from and write data to s3 instead.

Acceptance criteria
- [x] required sample data uploaded to s3
- [ ] notebooks updated to read sample data from s3 and write results back to s3

[2021-10-11 17:47] Shreyanand opened #40 "Fix pre-commit issues in the files imported for demo2"
Files imported from corporate-data-pipeline for demo2  have code style errors that should be fixed for our pre-commit tests to pass.

[2021-10-12 22:29] khebhut opened #43 "Application cannot be managed by Kebechet due to it containing an unsupported package location."
Kebechet cannot support maintaining this application as it contain's local
version of packages.

The package causing the issue is - src
Linked SHA - 405236a3f380970968f68597b70bc5c03570d668

For more information, see [Pipfile](https://raw.githubusercontent.com/os-climate/aicoe-osc-demo/master/Pipfile) and [Pipfile.lock](https://raw.githubusercontent.com/os-climate/aicoe-osc-demo/master/Pipfile.loc

[2021-10-13 14:18] Shreyanand commented on #43
@chauhankaranraj Any idea why we are seeing this? Is it not a good practice to include a local package in the pipfile?

[2021-10-13 15:12] chauhankaranraj opened #44 "Update how config parameters are passed"
Currently in the notebooks the parameters like data read/write dir, model save/load dir, etc. are passed through config.py, which is a part of `src`. However, since `src` is being installed as a package into the JupyterHub image, the default directory locations get set to `/opt/app-root/lib/python3.8/site-packages/data/*`, `/opt/app-root/lib/python3.8/site-packages/checkpoints/*`, etc. which won't

[2021-10-13 15:53] MichaelClifford commented on #44
:+1:

[2021-10-13 19:46] Shreyanand opened #45 "Fix demo 2 image: add Poppler utils linux dependency"
The text and table extraction from pdfs are done using a python package _pdf2image_ that requires [poppler](https://poppler.freedesktop.org/) utils. On my local, I was able to sudo get it but we need to install it in the image as well.
The package seems like to be a hard requirement for table extraction #28.
![Screenshot from 2021-10-13 15-07-49](https://user-images.githubusercontent.com/8916126/1

[2021-10-14 15:28] #44 closed

[2021-10-14 16:45] aakankshaduggal opened #48 "Add Documentation and a demo for Kubeflow Pipelines and SuperSet Dasboard"
- [x] Add tutorial documentation for KubeFlow Pipelines and Superset Dashboard for Demo1
- [x] Add a demo video for the workflow

[2021-10-14 18:36] harshad16 commented on #45
we can do that by creating a **Dockerfile** with s2i induced.
The process to do that is using s2i:
`s2i build . quay.io/thoth-station/s2i-elyra-custom-notebook:latest  --loglevel=0 --scripts-url="image:///opt/app-root/builder" --as-dockerfile Dockerfile`

Anyhow, this is the solution needed for this:

Dockerfile:
[code]

[2021-10-14 18:37] harshad16 commented on #45
once created the docker file change the config in the `.aicoe-ci.yaml`

[code]

[2021-10-14 18:56] chauhankaranraj opened #49 "Table curation notebook"
After the table data is extracted from the pdfs, it needs to be curated for training. Specifically, the csv's obtained from the table extraction step (implemented in #28) need to be annotated using the available annotation excel sheets.

Related to #11 as this step i.e. table data curation would be the second step in the data processing pipeline for demo 2.

Acceptance criterion
- [ ] table curati

[2021-10-15 14:24] Shreyanand opened #51 "Requirements for running the training phase"
Reading the training [notebook](https://github.com/os-climate/corporate_data_pipeline/blob/main/Allianz_NLP/model_pipeline/notebooks/Demo_ESG_data_training_Jul_25.ipynb) for the QA task, it looks like we would need a pretrained _relevance roberta_ model at this location `file_config.saved_models_dir/relevance_roberta`.
To start the process of fine tuning, we need to have the right base model. Is t

[2021-10-15 14:33] Shreyanand opened #52 "Create Elyra pipeline for demo2 data curation phase"
Once the table and text curation phase is over, the next step is to create an Elyra pipeline that can run the 4 data processing notebooks: pdf_table_extraction, pdf_table_curation, pdf_text_extraction, pdf_text_curation.
This would also require issues #39 and #45 to be fixed.
Acceptance

- [x] Demo 2 pipeline with data processing notebooks.

[2021-10-15 20:04] MichaelClifford opened #54 "add *.env to .gitignore"
add `*.env` to the `.gitignore` file to prevent `credentials.env` or any similar file from being accidentally pushed to git. Create PR's to fix this issue in all repo's in the os-climate org that were based on the `aicoe-aiops/project-template`

[2021-10-18 10:54] ChristianMeyndt commented on #51
@MichaelClifford I think the best way would be to use the roberta-model that we have used so far in our local solution. Is it possible to upload it somewhere on S3? It should be also publicly available somewhere, but I did not find exactly what we are using quickly.

[2021-10-18 10:56] ChristianMeyndt commented on #51
@MichaelClifford  Additionally we should also upload the models that we have trained on our side. Because until we are able to train new models for OS-C we should use them for further testing.

[2021-10-18 13:05] MichaelClifford commented on #51
@ChristianMeyndt Yes, I think having all the models available on S3 is a good way to go. I think we could use the `ocp-odh-os-demo-s3` bucket and use the directory prefix convention `shared_models/<model_name>/<version_number>`. Let me know if anyone has an objection to that :slightly_smiling_face:

[2021-10-19 17:51] MichaelClifford opened #56 "Demo 1 Ready to Share [Epic]"
This issue will be used track all outstanding tasks required to complete demo 1. The purpose of this demo is to provide an example and a guide for new users on how to use ODH and OPF to perform data engineering; from collection and ingestion to visualization.

Demo 1 will include its own directory with a set of notebooks and pipelines needed to ingest data into Trino and Ceph, perform queries and

[2021-10-19 17:58] MichaelClifford opened #57 "Demo 1 Video Recording"
Record a demo of demo 1. Post to youtube channel and link int demo1/readme.

[2021-10-19 18:49] MichaelClifford opened #58 "Demo 2 Ready to Share [Epic]"
This issue will be used track all outstanding tasks required to complete demo 2. The purpose of this demo is to provide an example and a guide for new users on how to use ODH and OPF to create an inference pipeline for a NLP model.

Demo 2 will include its own directory with a set of notebooks, pipelines, serving configurations and documentation needed to run the Allianz/NLP demo. It should also i

[2021-10-19 18:59] MichaelClifford opened #59 "Demo 2 Inference notebook"
Once our model is deployed we need to have a short notebook that demonstrates how to interact with the inference endpoint.

[2021-10-19 19:03] MichaelClifford opened #60 "Demo 2 Video Recording"
Record a demo of demo 12. Post to youtube channel and link in demo2/readme.

[2021-10-19 19:09] MichaelClifford opened #61 "Demo 2 README"
We need to add a README.md to `/notebooks/demo2` that provides sufficient detail for someone with access to the os-c cluster to run all notebooks, run the elyra pipeline and interact with the deployed model service. The goal is to show off how we leverage ODH tools and DS best practices as a guide that can be used by others interested in developing model training/inference workloads in the os-c pr

[2021-10-20 17:28] Shreyanand commented on #45
Thanks @harshad16 the new docker file works and we have poppler installed.

[2021-10-21 22:08] #38 closed

[2021-10-25 14:28] oindrillac opened #68 "Create a openshift secret for ocp-odh-os-demo-s3"
Create an openshift secret for `ocp-odh-os-demo-s3`, such that access key and secret key can be passed through the secret during [creation](https://elyra.readthedocs.io/en/stable/user_guide/runtime-conf.html#cloud-object-storage-credentials-secret-cos-secret) of kubeflow pipelines runtime.

[2021-10-25 14:58] Shreyanand opened #69 "Remove kpi-mapping.py from source package"
kpi-mapping.py interacts with s3 and requires credentials to execute. The file is then imported by table and text extractor classes making them dependent on the s3 connection as well.  Based on the interaction _https://github.com/os-climate/aicoe-osc-demo/pull/63#r733931677_, if we connect to s3 in pdf_table_curation.ipynb and pdf_text_curation.ipynb and then pass the kpi-mappings to the text and

[2021-10-25 15:25] #45 closed, assigned to MichaelClifford, Shreyanand, chauhankaranraj

[2021-10-25 16:12] #39 closed, assigned to erikerlandson, Shreyanand, chauhankaranraj, ChristianMeyndt

[2021-10-27 13:12] #51 closed, assigned to nobody

[2021-10-28 11:33] MichaelTiemannOSC opened #72 "We need many more locales installed by default"
**Is your feature request related to a problem? Please describe.**
The current list of locales supported by the notebook are:

[code]

**Describe the solution you'd like**
We need locales for all major financial centers, especially locales for France, Germany, Brazil, Japan, China, India, but likely many others.

**Describe alternatives you've considered**
A clear and concise description of any al

[2021-10-29 14:39] #54 closed, assigned to aakankshaduggal

[2021-10-29 17:48] #52 closed, assigned to oindrillac

[2021-10-29 20:18] #57 closed

[2021-10-29 20:19] #48 closed

[2021-10-29 20:22] MichaelClifford commented on #56
All tasks complete!
Video can be seen here https://www.youtube.com/watch?v=TFgsR7UlcHA
Thanks @aakankshaduggal and @oindrillac :partying_face: Good job!

[2021-10-29 20:22] #56 closed

[2021-10-29 20:23] MichaelClifford commented on #56
https://github.com/AICoE/okr/issues/3

[2021-11-01 13:24] harshad16 opened #78 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.8.0

[2021-11-01 13:45] sesheta commented on #78
Successfully built and delivered the image.
Image can be found at:[quay.io/os-climate/aicoe-osc-demo:v0.8.0](https://quay.io/os-climate/aicoe-osc-demo:v0.8.0)

[2021-11-01 14:58] oindrillac opened #79 "Run data processing elyra pipeline on 100 pdfs"
To determine the scalability of the `demo2` data processing elyra pipeline, we want to run the on a small sample (about 100 pdfs) present in the`redhat-osc-physical-landing-647521352890` bucket which currently has 8651 pdfs at the key `redhat-osc-physicalrisk-upload/S&PGlobal_ESG/`

Acceptance Criteria:
- [ ] Modify demo2 notebooks to process multiple pdfs and store the results on S3.

[2021-11-01 15:22] MichaelClifford commented on #11
Does there exist a pre-trained and pre-fine tuned model that we can just plug in for inference?

[2021-11-01 15:42] Shreyanand commented on #11
On a closer look, we have 3 models and 2 training tasks:
The first task is binary classification of relevance, i.e., given a question how relevant is the given paragraph. We have two models directories for it, relevance_roberta and relevance, the former has to be fine-tuned otherwise it won't work as stated in the previous comment. The latter directly works for inference and so we can move ahead a

[2021-11-01 16:24] Shreyanand opened #80 "Write automation flow for data processing pipeline notebooks"
To make sure that the data processing notebooks (pdf text and table extraction and curation) work in both dev and pipeline environment, we should add an automation flag to the notebooks. The flag would determine how paths are set in both the cases.

[2021-11-01 19:36] #80 closed

[2021-11-02 12:42] MichaelClifford commented on #58
https://github.com/AICoE/okr/issues/3

[2021-11-02 15:44] Shreyanand opened #84 "Demo2: Add relevance infer notebook to the pipeline"
Once #83 is merged, we should add the relevance inference to the Elyra pipeline. This would include the following changes:

1. Create a new image release to reflect changes in the src folder
2. Automation flow: Update paths in the notebook to work in both pipeline and dev env.

[2021-11-02 23:31] Shreyanand opened #87 "Jupyterhub image build error"
Trying the 9th release of the project image, my JH gave this error:
![Screenshot from 2021-11-02 19-27-58](https://user-images.githubusercontent.com/8916126/139965716-ec93c8c1-3393-414c-a783-307ae2769907.png)
![Screenshot from 2021-11-02 19-29-37](https://user-images.githubusercontent.com/8916126/139965757-27d06d5d-29a8-466d-b951-c236c0cf4ad1.png)

Steps to reproduce:

1. Go to https://jupyterhub-

[2021-11-03 13:26] HumairAK commented on #87
it seemed to create fine for me, can someone else confirm the same error?

[2021-11-03 13:41] harshad16 commented on #87
i m not authorized to use the URL, sorry cant reproduce it.

[2021-11-03 14:54] Shreyanand commented on #87
Could you please try again? We had to revert the image to an older version for a demo, maybe that's why it worked for you. Now the image is back to the latest, and broken version.

[2021-11-03 18:42] Shreyanand opened #88 "Run relevance infer for kpis 9-12"
On a closer inspection of the relevance infer output, all csvs in output infer folder have answers for only one question: "What is the company name?" The `run_folder` method needs to be examined and run for kpis 9-12.

[2021-11-03 20:21] Shreyanand commented on #88
On reducing the kpis to 9-12, we get 0 relevant paragraphs for each question which should not be the case.
![Screenshot from 2021-11-03 16-18-38](https://user-images.githubusercontent.com/8916126/140186430-56e1f71e-5138-4b33-9696-59869cdc3c53.png)
Debugging.

[2021-11-04 13:12] Shreyanand commented on #87
@HumairAK @harshad16 I tried building the image locally and it was built without any errors. However, when I ran it, the Jupyterhub instance on my localhost showed `this site can't be reached`. Probably because of the same reason...

[2021-11-04 13:16] HumairAK commented on #87
@Shreyanand that seems to suggest an issue with the image and not an ops related issue, right? @4n4nd do you have any idea here?

[2021-11-04 13:19] 4n4nd commented on #87
yeah this is an issue with the image.
@harshad16 can confirm

[2021-11-04 13:56] harshad16 commented on #87
I will check and re-confirm on this :+1:

[2021-11-04 15:35] chauhankaranraj commented on #87
Hey folks, so it seems that removing `jupyter` and `jupyterlab` from Pipfile/Pipfile.lock, and then building the image fixes this issue (tested only locally). I can update the Pipfile on the repo and re-release and see if it works.

[2021-11-04 15:53] harshad16 commented on #87
I have tried to build the image with no configuration change. and ran it on system it runs successfully.
![osc](https://user-images.githubusercontent.com/14028058/140373213-cdf46bfd-c726-4983-877a-f74b23be80fb.png)

[2021-11-04 15:53] harshad16 commented on #87
very good point, why were these package installed explicitly?

[2021-11-04 16:03] chauhankaranraj commented on #87
IIRC while we were testing image build locally, one of the training notebooks wouldn't work until we had ipywidgets installed, which in turn required these packages. But I think for now we should be able to go without these included in Pipfile.

[2021-11-04 16:15] chauhankaranraj opened #90 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.10.0

[2021-11-04 16:43] sesheta commented on #90
Successfully built and delivered the image.
Image can be found at:[quay.io/os-climate/aicoe-osc-demo:v0.10.0](https://quay.io/os-climate/aicoe-osc-demo:v0.10.0)

[2021-11-04 16:46] erikerlandson opened #91 "Investigate using NeuralMagic as post-training step"
cc @ChristianMeyndt

NeuralMagic is basically a tool for analyzing a neural net model, and identifying a modified sparse topology that is much smaller and faster.  It operates as a second training phase.  So one trains a model and then run a tool to analyze the model, and then a second training run to fine tune the new sparse architecture.

NeuralMagic is capable of making sparse versions of a mod

[2021-11-04 17:06] Shreyanand commented on #88
@chauhankaranraj latest still points to v0.9.0...

[2021-11-04 17:41] #90 closed

[2021-11-04 18:51] chauhankaranraj commented on #88
It needed to be manually updated, but should be fixed now

[2021-11-04 23:50] MichaelClifford commented on #87
can we close this issue?

[2021-11-05 13:34] HumairAK commented on #87
Do you folks think others would benefit from from these resolution steps in the future? If so can we get a small contribution to the JH docs runbook here: https://github.com/operate-first/apps/blob/master/docs/odh/jupyterhub/runbook.md ?  :smiley:

[2021-11-05 14:31] Shreyanand opened #92 "Fix the incorrect model output"
The current work in progress part of the pipeline is to add inference notebook to the pipeline (tracked in issues #88 #84).   While running the inference notebook on the sample pdfs from Equinor and other companies, we observed that the model outputs the label '0' for most cases.

In all, we have 24 kpi questions. When we run the inference with all of them, for 23 questions the model finds no rele

[2021-11-05 15:37] MichaelClifford opened #93 "Demo 3 (Connecting Demos 1 & 2) Ready to Share [EPIC]"
This issue will be used track all outstanding tasks required to complete demo 3. The purpose of this demo is to provide an example and a guide for new users on how to use ODH and OPF for an end-2-end example of data ingestion, preprocessing, model inference, results ingestion into database.

Demo 3 should be comprised primarily of the existing work completed in demos 1 & 2, and only modified to fa

[2021-11-05 16:53] MichaelClifford opened #94 "Create modified ingestion pipeline from demo 1 to interact with output from demo 2"
Create a modified version of `demo1-create-tables.ipynb` to push demo 2 prediction results csv into trino. The data schema should be inferred from the csv.

Acceptance Criteria:
- [ ] Read infer kpi files from `/ocp-odh-os-demo-s3/corpdata/ESG/pipeline_run/samples_4/infer_KPI`
- [ ] Create a modified version of create table and push the results to Trino
- [ ] Add a pipeline for demo3

[2021-11-05 16:55] #78 closed

[2021-11-05 16:56] MichaelClifford commented on #68
@HumairAK @4n4nd anything we should do to push this forward?

[2021-11-05 17:06] MichaelClifford commented on #92
@Shreyanand can you add instructions on how someone could recreate the current bug on the os-c cluster?

[2021-11-05 17:17] MichaelClifford opened #95 "Recording of demo 3"
Record a demo of demo 3. Post to youtube channel and link in demo2/readme.

[2021-11-05 17:21] MichaelClifford opened #96 "Demo 3 Readme"
We need to add a README.md to /notebooks/demo3 that provides sufficient detail for someone with access to the os-c cluster to run all notebooks, run the elyra pipeline and interact with data stored in trino. The goal is to show off how we leverage ODH tools and DS best practices as a guide that can be used by others interested in developing end-2-end ML workloads in the os-c project.

[2021-11-05 17:22] MichaelClifford commented on #93
https://github.com/AICoE/okr/issues/3

[2021-11-05 17:36] oindrillac opened #97 "Pipeline fails on certain pdfs with EOF errors"
Demo #2 pipeline in #86 fails on certain pdfs with EOF errors (http://ml-pipeline-ui-kubeflow.apps.odh-cl1.apps.os-climate.org/pipeline/#/runs/details/6622a720-d752-4490-a55b-49cfd84c1b43), so we would need pdf error handling in the download functions for blank and irregularly formatted pdfs.

_Originally posted by @oindrillac in https://github.com/os-climate/aicoe-osc-demo/issues/86#issuecomment-

[2021-11-05 17:54] MichaelClifford commented on #58
Should we update this epic to reflect the fact that there currently appears to be a resource blocker on training and we've shifted gears a bit to focus on a complete inference pipeline first?
@Shreyanand @chauhankaranraj @oindrillac

[2021-11-06 15:41] ChristianMeyndt commented on #92
Hi @Shreyanand,

currently I'm not able to start an AICoE OSC demo image in Jupyterhub, most probably because of insufficient resources. It sais:  [Warning] 0/14 nodes are available: 3 Insufficient nvidia.com/gpu, 3 node(s) had taint {node-role.kubernetes.io/master: }, that the pod didn't tolerate, 5 Insufficient cpu, 6 node(s) didn't match Pod's node affinity.

But I made some thoughts about this

[2021-11-08 17:05] HumairAK commented on #68
Sorry missed this, will work on it today.

[2021-11-08 17:40] HumairAK commented on #68
created https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/k8s/ns/kubeflow/secrets/ocp-odh-os-demo-s3

[2021-11-08 20:32] chauhankaranraj commented on #92
I'm not fully sure, but it could be the case that the cluster is failing to spawn coz you've requested multiple gpus. Could you try requesting only 1 gpu and see if that helps?

We did try adjusting the csv to have only those 4 kpis, and the result was the same (empty dataframe). Which is consistent with our previous observation i.e. when we used all 24 kpis, the results contained answers (relevan

[2021-11-08 20:44] chauhankaranraj opened #99 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.11.0

[2021-11-08 21:13] sesheta commented on #99
Successfully built and delivered the image.
Image can be found at:[quay.io/os-climate/aicoe-osc-demo:v0.11.0](https://quay.io/os-climate/aicoe-osc-demo:v0.11.0)

[2021-11-09 14:44] oindrillac commented on #68
confirming that this works in the pipeline, closing.

[2021-11-09 14:44] #68 closed

[2021-11-09 14:48] oindrillac opened #100 "Use openshift secret in pipeline"
To allow for better key management practices, we can use the openshift secret created in #68 in the pipeline.

To get the pipeline working with the secret :-

- [x] Replace `S3_ACCESS_KEY` and `S3_SECRET_KEY` in notebooks with `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.
- [x] Modify pipeline yaml file to remove access and secret keys
- [x] Modify documentation instructions to use secret in ku

[2021-11-09 15:25] aakankshaduggal commented on #94
Thanks @Shreyanand! We can get started with this :smile:

[2021-11-09 15:42] #99 closed

[2021-11-09 17:40] ChristianMeyndt commented on #92
I was able now to start the image with the correct size.
But I'm getting now an error when trying to import the sources in the notebook (from src.components.preprocessing import Extractor).
Inside it tries to download the file kpi_mapping.csv from s3 and it stops with the following error:
ClientError: An error occurred (404) when calling the HeadObject operation: Not Found
Did you also see such an

[2021-11-10 13:10] ChristianMeyndt commented on #92
Was a problem with my credentials.env file...I'm able now to run the notebook and will let you know when i found something.

[2021-11-10 15:07] Shreyanand opened #102 "Demo 2: Add infer kpi step to the inference pipeline"
The infer_kpi.ipynb works in the JH image designed for demo2. The next step would be to put it in the inference pipeline and run it for multiple pdfs.
Related Issue: #84

[2021-11-11 15:33] ChristianMeyndt commented on #92
In order to run the infer_relvence notebook in JupyterHub we had to change config_farm_train.py:
line
self.root = str(pathlib.Path(src.__file__).resolve().parent.parent )
had to be changed to
self.root = str(pathlib.Path(__file__).resolve().parent.parent.parent )

We changed noothing else in the notebook and we did get meaningful examples as expected.
You can see in the mentioned example in the no

[2021-11-11 15:55] Shreyanand commented on #92
Good catch! We fixed this in the latest [PR](https://github.com/os-climate/aicoe-osc-demo/pull/101). The PR also adds the kpi extraction inference [notebook](https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/infer_kpi.ipynb) that works as expected.

This is very interesting. Did you use the notebook code to download the same model we used (the one stored in s3)? And are you

[2021-11-11 17:16] ChristianMeyndt commented on #92
Yes, I only used code from the infer_relevance notebook, also for the download of the model from s3 and ran it on a https://jupyterhub-odh-jupyterhub.apps.odh-cl1.apps.os-climate.org/ instance.

[2021-11-11 17:27] chauhankaranraj commented on #92
Thanks @ChristianMeyndt, I can confirm I get the same result for the "prediction on single example", and I also see some relevant results for kpis 9-12 when I run it on the Equinor sample pdf :) Seems like updating the path fixes the issue.

[2021-11-12 16:34] Shreyanand commented on #92
@chauhankaranraj @ChristianMeyndt, I see the same behavior after the latest changes. These changes also update the version of ML packages (farm, torch, and mmcv) which could also be a reason for seeing the desired results.
Since it's fixed, I'm closing this issue. Thanks all for debugging it :)

[2021-11-12 16:34] #92 closed

[2021-11-12 19:58] #94 closed

[2021-11-15 15:26] #79 closed

[2021-11-15 15:26] #84 closed

[2021-11-15 15:26] #102 closed

[2021-11-15 16:00] Shreyanand opened #105 "Demo 2 Superset dashboard"
For completing demo 2, we should have a sample Superset dashboard with the prediction table from the output of inference. This dashboard doesn't have to be very complicated, but a collection of 2 or 3 diagrams. Some ideas:

- For a selected KPI question, display answers for all the companies
- For a selected company, display answers for all the kpi questions

[2021-11-18 16:35] khebhut opened #106 "Application cannot be managed by Kebechet due to it containing an unsupported package location in rhel:8 environment."
Kebechet cannot support maintaining this application as it contain's local
version of packages.

The package causing the issue is - src
Linked SHA - 5a82b348c236303a1c00a90220e8eb8426cd3b5d

For more information, see [Pipfile](https://raw.githubusercontent.com/os-climate/aicoe-osc-demo/master/Pipfile) and [Pipfile.lock](https://raw.githubusercontent.com/os-climate/aicoe-osc-demo/master/Pipfile.loc

[2021-11-18 16:52] Shreyanand commented on #25
Fixed in https://github.com/os-climate/aicoe-osc-demo/pull/33 and successive image builds.

[2021-11-18 16:52] #25 closed

[2021-11-18 16:57] Shreyanand commented on #7
We can confirm that GPUs are available in [inference pipeline](http://ml-pipeline-ui-kubeflow.apps.odh-cl1.apps.os-climate.org/pipeline/#/runs/details/cdf2d92d-ecd0-4990-b024-9e5960f40e17) runs as well.

[2021-11-18 16:59] Shreyanand commented on #88
#92 fixed the error and the demo works for kpis 9-12. Reference [pipeline](http://ml-pipeline-ui-kubeflow.apps.odh-cl1.apps.os-climate.org/pipeline/#/runs/details/cdf2d92d-ecd0-4990-b024-9e5960f40e17).

[2021-11-18 16:59] #88 closed

[2021-11-23 14:18] khebhut[bot] opened #109 "No pinned version for src"
Package src does not use pinned version in Pipfile: {'editable': True, 'path': './'}

[2021-11-23 14:24] oindrillac opened #110 "Update Project Readme"
The project README.md needs to be updated with the latest information and links the contents of the demos. The current README is missing a "Get Started" section for any new contributors which can provide sufficient detail on access to the cluster, environments used for running the ML workloads and a basic outline on how to get started and involved with the project.

Acceptance Criteria:
 - [x] Upd

[2021-11-23 14:27] oindrillac commented on #61
@chauhankaranraj @Shreyanand Can this be closed by #108 and #71 ?

[2021-11-23 16:22] oindrillac opened #111 "Curation notebooks fail in pipeline"
With the current pipeline setup, the curation notebooks [fail in automation](http://ml-pipeline-ui-kubeflow.apps.odh-cl1.apps.os-climate.org/pipeline/#/runs/details/453a84fa-6969-458b-beda-b77ac3670af6) in `preprocessing.pipeline`.

![image](https://user-images.githubusercontent.com/32435206/143062853-cae565da-72fb-40ab-9bae-223747d3c046.png)

The reason could be that the extraction folder options

[2021-11-23 19:17] oindrillac commented on #111
Upon adding a separate folder `ocp-odh-os-demo-s3/corpdata/ESG/pipeline_run/sample_1` with a single pdf whose annotation exists and running the preprocessing pipeline on that works http://ml-pipeline-ui-kubeflow.apps.odh-cl1.apps.os-climate.org/pipeline/#/runs/details/10dd31d9-d98e-4089-b5a1-76ae2d1d324b.

We can add some instructions in the curation notebook which instructs DATA_S3_PREFIX to be s

[2021-11-23 19:18] chauhankaranraj opened #113 "Update demo2 pipeline to save one result file per input pdf"
Currently, the last step of the pipeline (`create_results_tables.ipynb`) combines results for all input pdfs, and saves it as a single file (`kpi_processed.parquet`) on s3. So when multiple different pipelines are run on different sets of pdfs, then one's output can overwrite another's. To avoid this, we can save one single result file for each input pdf individually on s3, instead of combining th

[2021-11-24 05:13] #100 closed

[2021-11-24 06:04] Shreyanand commented on #61
Almost, so we recently added a Superset dashboard, we could update that in the Readme. I think once we record the demo we should have everything in place to close this as well.

[2021-11-24 11:08] MichaelTiemannOSC opened #115 "demo notebook runs are cluttering ocp-odh-os-demo-s3 directory"
**Describe the bug**
Presently all notebook environments are using the same ocp-odh-os-demo-s3 as their output store.  Most are using a hierachy (such as trino/ or data/ or op1-pipelines, which keep the directory somewhat tidy.  However, it looks like the demo notebooks all write their intermediate results directly to the top-level directory, resulting in hundreds of files in that top-level direct

[2021-11-24 13:21] oindrillac commented on #61
cool! lets link that then.

I see that is being captured in #60

[2021-11-24 16:31] #111 closed

[2021-11-29 15:08] #113 closed

[2021-11-29 16:15] pacospace commented on #91
Thanks @erikerlandson!

Neural Magic has also the possibility to fine tune models. We could start working on a new Elyra pipeline that:

- [ ] takes pre trained model for NLP Question Answering: https://sparsezoo.neuralmagic.com/?domain=nlp&sub_domain=question_answering&page=1
- [ ] Fine tune the model with OSC data
- [ ] Show the difference in terms of performance respect to current solution

cc

[2021-12-01 21:24] MichaelTiemannOSC opened #118 "When sharing a screen showing Elyra console, secrets are exposed"
**Is your feature request related to a problem? Please describe.**
There's a handy widget showing environment variables and their values in one of the consoles that we demo.  Alas, many of those environment variables are supposed to be secret.  When users share their screens to show how cool our Elyra pipelines are, they can leak substantial prefixes of secrets.

**Describe the solution you'd like

[2021-12-08 09:03] Shreyanand commented on #60
Update: First half of the demo [video](https://drive.google.com/file/d/1ETSOBG9wMXZ7rsSHA_G6e4IsxYPs0DBB/view?usp=sharing).
To be merged with the other half being recorded by @chauhankaranraj.

[2021-12-08 12:55] Shreyanand commented on #93
Demo 2 has been extended to include all the components necessary for an end to end example of data ingestion, preprocessing, model inference, and results ingestion. All the issues are being tracked in this [epic](https://github.com/os-climate/aicoe-osc-demo/issues/58).

[2021-12-08 12:55] #93 closed

[2021-12-08 12:56] Shreyanand commented on #96
This issue is being tracked as a part of demo 2 Readme (issue #61).

[2021-12-08 12:56] #96 closed

[2021-12-08 12:58] Shreyanand commented on #95
This issue is being tracked as a part of demo 2 video recording (issue #60)

[2021-12-08 12:58] #95 closed

[2021-12-08 13:04] Shreyanand commented on #10
Demo 2 uses pre-existing NLP models saved on S3 storage.

[2021-12-08 13:04] #10 closed

[2021-12-08 13:15] Shreyanand opened #120 "Training pipeline [EPIC]"
This issue will be used to track all outstanding tasks required to complete the training pipeline. Demo 2 (issue #58) currently supports inference using pre-trained models.  For a complete demo, we should have the training pipeline in place as well.

Issues:

- [ ] Write training notebooks #11
- [ ] Explore Neural magic for a sparse model training #91
- [ ] Integrate inference pipeline to work wit

[2021-12-08 16:50] ChristianMeyndt commented on #91
Hi @erikerlandson and @pacospace,
making the models smaller will help a lot for sure and Neural Magic sounds very promising!
If you need any further information on the current model training solution feel free to reach out to me.
I'm curious to see the outcome of this fine tuning!
Thanks

[2021-12-08 17:01] erikerlandson commented on #91
Thanks Christian!

The main issue I'm aware of is understanding exactly what data-set you
trained your model with, because Francesco would want to provide NM with
that same data to do it's version of training.

On Wed, Dec 8, 2021 at 9:51 AM ChristianMeyndt ***@***.***>
wrote:

[2021-12-08 17:13] ChristianMeyndt commented on #91
We need the KPI mapping file (https://github.com/os-climate/corporate_data_pipeline/tree/main/data_input/ESG/kpi_mapping) and the annotations file (https://github.com/os-climate/corporate_data_pipeline/tree/main/data_input/ESG/annotations) as input.
And then of course we also need all the PDFs that are mentioned in the annotations file.
Probably we already have these PDFs within these 40.000 repor

[2021-12-08 20:52] MichaelClifford commented on #105
closing as a dashboard exists: https://superset-secure-odh-superset.apps.odh-cl1.apps.os-climate.org/superset/dashboard/15/?native_filters=%28%29

Re open if needed

[2021-12-08 20:52] #105 closed

[2021-12-09 09:38] pacospace commented on #43
Depends-On: https://github.com/aicoe-aiops/project-template/issues/50

[2021-12-09 10:19] pacospace commented on #43
@Shreyanand @chauhankaranraj should we remove that dependency.

Will you consider use of overlays in the future? The Pipfile is huge: https://github.com/os-climate/aicoe-osc-demo/blob/master/Pipfile

[2021-12-09 14:13] chauhankaranraj opened #121 "Use overlays for building images"
**Is your feature request related to a problem? Please describe.**
Currently the Pipfile is huge and complex, containing dependencies from different phases of this project (training, inference, database operations, etc) all together. This makes the project image large, increases build time, and provides less flexibility.

**Describe the solution you'd like**
Use overlays (one per each "phase") in

[2021-12-09 14:20] chauhankaranraj commented on #43
Hm so some of the notebooks are currently importing and using source code that's inside `src`, so I'm not sure if we can directly remove the dependency. Any ideas how to deal with this? Also, would this still be an issue after thoth-station/micropipenv#204 is merged?

Totally agreed :100: Opened #121 to track this :)

[2021-12-09 14:43] #61 closed

[2021-12-09 16:41] pacospace opened #122 "Should we state which base image tag is used in DockerFile for traceability?"
See: https://github.com/os-climate/aicoe-osc-demo/blob/7132a18ab915bc1193c7d234f5694994a975ab97/Dockerfile#L1 cc @erikerlandson @chauhankaranraj @MichaelClifford

[2021-12-09 16:53] chauhankaranraj commented on #122
That sounds like a good idea :) Should we follow the same practice in our Elyra pipeline runtime images as well? e.g.: https://github.com/os-climate/aicoe-osc-demo/blob/7132a18ab915bc1193c7d234f5694994a975ab97/notebooks/demo2/preprocessing.pipeline#L17

[2021-12-09 17:09] pacospace commented on #122
I think so, otherwise, we cannot easily identify the source of errors in case!

[2021-12-09 17:52] chauhankaranraj commented on #122
Yep, makes sense :+1: I'll update these then

[2021-12-09 17:53] chauhankaranraj commented on #122
Yep, makes sense +1 I'll update these then

[2021-12-09 19:06] oindrillac commented on #115
On looking through the files on S3, it seems that the files cluttering the bucket are intermediary folders that automatically created by kubeflow during each run. Such as, there are files created in S3 for each [run like this](http://ml-pipeline-ui-kubeflow.apps.odh-cl1.apps.os-climate.org/pipeline/#/runs/details/a90d1d07-252f-46e7-a306-f8cbdd124d15):

These files clutter a majority of the S3 buck

[2021-12-10 15:06] chauhankaranraj commented on #60
Second half of the demo video is available [here](https://drive.google.com/file/d/1eA3V5FWEFqxUdHRPK07TOym03Maz2nyy/view?usp=sharing). Let me know what you think :)

[2021-12-10 21:26] #122 closed

[2021-12-13 16:46] Shreyanand commented on #60
Final stitched and processed [video](https://drive.google.com/file/d/1W3GTkqIYwBjPKdFkUZmXYFspPGCCa2MJ/view?usp=sharing).

[2021-12-13 17:07] MichaelClifford commented on #60
Actually, this needs to be uploaded to youtube first so that we can share it

[2021-12-14 10:11] Shreyanand commented on #60
Youtube unlisted [video](https://youtu.be/lGeT615YNlM). Will make it public once up-voted :)

[2021-12-14 14:06] oindrillac commented on #60
Video demo looks great. Great work @Shreyanand @chauhankaranraj 👍

[2021-12-14 14:27] MichaelClifford commented on #60
/approve :smiley:

[2021-12-15 12:50] ChristianMeyndt commented on #91
FYI @HeatherAck @JeremyGohBNP @LeaADeleris @andraNew @OferHarari @idemir-ids @DaBeIDS @mriefer
This is the issue for NeuralMagic we talked about on Monday. It sounds really promising.

[2021-12-15 12:57] #60 closed

[2021-12-15 14:24] MichaelClifford commented on #110
can this be closed by #124 ?

[2021-12-15 14:25] #58 closed

[2021-12-15 14:47] oindrillac commented on #110
yes 🚀

[2021-12-17 13:01] oindrillac commented on #110
reopening this since one small addition is still needed - reflecting the changes made in #124 into https://github.com/os-climate/aicoe-osc-demo/blob/master/README.md.

Opening a PR for the same.

[2021-12-17 13:09] oindrillac opened #125 "Create Jupyterbook"
Add _toc.yaml and _config.yml for the repo and build Jupyterbook

[2021-12-20 13:23] #110 closed

[2021-12-20 13:23] #125 closed

[2022-01-07 16:17] andraNew opened #127 "Value Error related to S3 in demo2 notebook"
Value Error related to S3 at Import in when running pdf_text_extraction.ipynb notebook from demo 2

Error appears when running the first cell where we import libraries for pdf_text_extraction.ipynb

at this import from src.components.preprocessing import Extractor

/opt/app-root/lib64/python3.8/site-packages/boto3/resources/base.py in __init__(self, *args, **kwargs)
    116         for identifier

[2022-01-07 16:21] andraNew commented on #127
@erikerlandson @MichaelClifford

[2022-01-07 16:27] erikerlandson commented on #127
@andraNew  you might also try the "nlp text extraction" notebook image in the jh launcher menu, it might have the correct deps installed

[2022-01-07 16:43] andraNew commented on #127
Are you refering to the Elyra server that it is used for the RuleBased Solution ? I have tried, but it did not work either

[2022-01-10 11:13] MichaelTiemannOSC commented on #115
Nudge, again.

[2022-01-11 15:35] andraNew commented on #127
@chauhankaranraj @Shreyanand  Do you have an idea of what might not be working?

[2022-01-11 16:40] chauhankaranraj commented on #127
Hi @andraNew, I think it might be the case that the s3 credentials are not being read in correctly.

Do you mean that your `credentials.env` is stored at the root of your JupyterHub PVC (`/opt/app-root/src/credentials.env`), or the root of the project repo (`/opt/app-root/src/aicoe-osc-demo/credentials.env`)? Coz right now it [looks like](https://github.com/os-climate/aicoe-osc-demo/blob/9135ce63a

[2022-01-11 17:22] erikerlandson commented on #127
@chauhankaranraj I am confused: the cell she reported the error from only had python import statements, it had not yet attempted any `credentials.env` access

[2022-01-11 18:14] Shreyanand commented on #127
@erikerlandson  The src.components.preprocessing imports this file: https://github.com/os-climate/aicoe-osc-demo/blob/master/src/components/utils/kpi_mapping.py and that requires a valid s3 connection.
Issue #69 was created to remove this dependency from the original code but it was low on priority. If the credentials are found as @chauhankaranraj commented, it should fix the import error.

[2022-01-11 20:09] erikerlandson commented on #69
IIUC, a reasonable fix here is to simply remove the credentials loading:
https://github.com/os-climate/aicoe-osc-demo/blob/master/src/components/utils/kpi_mapping.py#L7

If one tries to execute this code, it should fail at line 16 where it tries to access undefined environment vars.

A related fix to the notebook itself would be to load the credentials in a cell before these imports, with a note e

[2022-01-11 21:33] erikerlandson commented on #69
@MichaelClifford I think the problem is not a `.py` file interating w/ s3, it is that an `import` statement is causing an s3 error. At least, that is what confused me.

[2022-01-12 14:02] andraNew commented on #127
Dear @chauhankaranraj ,
I confirm I had the credentials at the root of JupyterHub PVC .

[2022-01-12 14:31] chauhankaranraj commented on #127
Gotcha, thanks for clarifying :smile: I think it might be the case that the kpi_mapping.py is trying to read from the [incorrect environment variables](https://github.com/os-climate/aicoe-osc-demo/blob/9135ce63a01897d792d347fc7431f7958800e1e0/src/components/utils/kpi_mapping.py#L18)?

In all the notebooks, we're using the env vars `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` to extract the s3 a

[2022-01-12 16:42] chauhankaranraj commented on #127
Hi @DaBeIDS, just want to confirm, does this issue still persist for you if you add the `S3_BUCKET=<bucket-name-here>` and the `S3_ENDPOINT=<endpoint-url>`  variables to your credentials.env file?

[2022-01-12 17:33] DaBeIDS commented on #127
Do you know what the bucket name it is i have to add and the endpoint-url?

[2022-01-12 17:35] DaBeIDS commented on #127
I just realized that i do not need the correct one for the test :)
It works if i add that:
![image](https://user-images.githubusercontent.com/90916810/149192077-a547154e-1f85-4a05-9e6b-8d54cb2b8c70.png)
Then i get a new error message:
![image](https://user-images.githubusercontent.com/90916810/149192136-5d40644e-1623-40d2-80ee-be2e05a97188.png)
So then my question would be about the correct inputs

[2022-01-12 19:05] chauhankaranraj commented on #127
Yeah, here they are: (you can also find them in the notebooks)
[code]

Yes, I think just adding these inputs should fix it. Let me know if this is not the case :)

[2022-01-13 07:56] DaBeIDS commented on #127
@chauhankaranraj: Thanks i can now execute the import :)

1) In my credential file those two have been called S3_DEV_ENDPOINT=https://s3.us-east-1.amazonaws.com and
S3_DEV_BUCKET:

![image](https://user-images.githubusercontent.com/90916810/149288681-161f2f9a-1932-459f-a9a3-c11e96c9b0cb.png)

So, i am not sure if those are needed or if actually those are the ones searched by the code.

2) I am get

[2022-01-13 11:15] andraNew commented on #127
I replaced the names of the environmental variables as suggested by @DaBeIDS , but I experience a client error right now ClientError: An error occurred (403) when calling the HeadObject operation: Forbidden
![image](https://user-images.githubusercontent.com/62877651/149320300-9a70c74c-60b4-4e5c-ab45-001449880db6.png)

[2022-01-13 11:27] andraNew commented on #127
It actually worked when I restarted the kernel.

In the end I had the incorect variable names that caused the issue. Thank you for your help

[2022-01-13 11:27] #127 closed

[2022-02-03 16:40] Shreyanand commented on #11
The training notebook and pipeline requires a higher GPU memory. The setup of the new cluster with bumped up resources is being tracked [here](https://github.com/os-climate/os_c_data_commons/issues/118). Once there, we can resume the work on the training pipeline.

[2022-02-10 16:16] pacospace opened #128 "Prepare GPU image for training teacher network and fine tuning sparse model [Neural Magic]"
**Is your feature request related to a problem? Please describe.**
- [x] Create last layer with Neural Magic for GPU Image
- [x] Create manifests with imagestreams and buildconfigs for building all layers.

**Describe the solution you'd like**
Prepare GPU image for training teacher network and fine tuning sparse model

**Describe alternatives you've considered**

**Additional context**
Tracker: ht

[2022-02-10 16:17] pacospace commented on #128
/assign @pacospace

[2022-02-11 10:18] pacospace commented on #121
hey @chauhankaranraj are you working on this? I will need to add overlays soon for the neural magic part.

[2022-02-15 14:06] chauhankaranraj commented on #121
hey @pacospace I haven't worked on this yet coz it wasn't a priority, but I can send a PR soon :)

[2022-02-17 16:09] #128 closed

[2022-02-24 15:57] Shreyanand opened #131 "Use physical-landing bucket for NLP demo"
As an effort to decouple data owned by Trino, from data manipulated by the NLP demo, we want to move input pdfs, pretrained models, and pipeline generated data from `ocp-odh-os-demo-s3` bucket to `redhat-osc-physical-landing-xx`.

Acceptance
- [ ] Change notebook and pipeline code and documentation to point to the new bucket

[2022-02-24 16:12] Shreyanand opened #132 "Rerun NLP demo on the new cluster"
The new dev cluster with a bigger GPU is up ([status](https://github.com/os-climate/os_c_data_commons/issues/118)).
Before we work on the training pipeline, we want to make sure that inference notebooks and pipelines work on the new dev cluster.

Acceptance

- [X] Run the notebooks
- [x] Run the Elyra pipelines

[2022-03-08 20:25] Shreyanand opened #134 "Redo Demo 1"
Demo 1 is deprecated and we should have Iceberg added to the workflow. The cluster was also updated recently. As a part of this issue, redo demo 1 to account for the changes and run it on the new cluster.

[2022-03-10 16:05] pacospace opened #135 "Test NM GPU image with KFP"

[2022-03-10 16:07] pacospace commented on #135
Currently blocked because pipeline fails to start. I checked with @Shreyanand and we are using same inputs, but for me the pipeline cannot start with the following issue:

[code]

[2022-03-15 11:57] pacospace commented on #91
Overview of the work: https://docs.google.com/presentation/d/1BvrbKUaqxs9CSKrwUYVgxCpvqBZ3GXDWsTYPLSTffHs/edit#slide=id.g1125f65fa8b_0_0

[2022-03-24 20:38] #131 closed

[2022-04-04 19:34] Shreyanand opened #141 "Fine tune relevance pre-trained model"
As a part of setting up the training pipeline in issue #11, we'd have to write a notebook that fine tunes a model to find relevant paragraphs to a kpi question. Also report performance metrics for the trained model.

Acceptance
- [ ] Add a train-relevance.ipynb notebook

[2022-04-04 19:35] chauhankaranraj opened #142 "Fine tune KPI inference model"
As a data scientist,
I want to fine tune a question answering model on the sustainability report PDFs,
So that I can find exact answers to KPI questions once the relevant paragraph for the KPI question has been extracted from the PDF.

This would be the 3rd step of the training pipeline as defined in #11

Acceptance criteria
- [ ] create train_infer_kpi notebook to fine tune model

[2022-04-04 19:35] chauhankaranraj commented on #142
/assign @chauhankaranraj
/assign @Shreyanand

[2022-04-11 14:10] Shreyanand opened #145 "Remove editable src package from pipfile"
Remove editable _src_ package from the Pipfile and add code for updating the sys.path in the notebooks as that is a cleaner method to import local packages until they are converted to standard packages.

[2022-04-13 14:59] #69 closed

[2022-04-13 15:19] Shreyanand opened #146 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.15.0

[2022-04-13 15:50] sesheta commented on #146
Successfully built and delivered the image.
Image can be found at:[quay.io/os-climate/aicoe-osc-demo:v0.15.0](https://quay.io/os-climate/aicoe-osc-demo:v0.15.0)

[2022-04-13 15:50] #146 closed

[2022-04-14 15:14] Shreyanand opened #149 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.16.0

[2022-04-14 15:44] sesheta commented on #149
Successfully built and delivered the image.
Image can be found at:[quay.io/os-climate/aicoe-osc-demo:v0.16.0](https://quay.io/os-climate/aicoe-osc-demo:v0.16.0)

[2022-04-14 15:44] #149 closed

[2022-04-21 09:43] JeremyGohBNP opened #150 "Run infer_relevance.ipynb in demo2"
I have an issue when I run this notebook. There seems to be a confusion on where packages are called:

![image](https://user-images.githubusercontent.com/82595185/164427050-d534fa25-17aa-43b4-b503-0775345b20f9.png)

This cell calls TextRelevanceInfer but it fails because it asks for an argument "kpi_df" that exists in the package version in lib64/python3.8/site-packages but is not required anymore

[2022-04-21 15:55] JeremyGohBNP commented on #150
Hi @Shreyanand, thanks for your quick reply. I did just that and it seems to solve this issue. However, I have trouble getting the models now: it does not look like it's accessible through the S3 connection. In infer_relevance.ipynb:

![image](https://user-images.githubusercontent.com/82595185/164501321-f18be65a-c550-4138-a81d-645ce514b022.png)
This cell returns the following error:
![image](https

[2022-04-21 16:24] Shreyanand commented on #150
This seems like a problem with the S3 connection, maybe due to a credentials change. @redmikhail how can we make sure @JeremyGohBNP has the right credentials?

[2022-04-21 16:33] JeremyGohBNP commented on #150
FYI, I'm using these credentials, as stated in the notebooks

![image](https://user-images.githubusercontent.com/82595185/164508232-d01ee681-17ab-4f88-82db-6419c87ca4ac.png)

[2022-04-21 16:36] Shreyanand commented on #150
The  `AWS_ACCESS_KEY_ID` and the `AWS_SECRET_ACCESS_KEY` have to be the right values for the notebook to work.

[2022-04-21 16:38] JeremyGohBNP commented on #150
Yes, I'm using the values I was given in my personal credentials.env file, as I've always used

[2022-04-21 19:04] HeatherAck commented on #150
Due to a security incident yesterday, developers need to get a new access key by filing an issue to create a request using this link: [https://github.com/os-climate/OS-Climate-Community-Hub/issues/new?assignees=erikerlandson&labels=Bucket-credentials&template=request-credentials-for-an-os-climate-bucket.md&title=Request+credentials+for+an+os-climate+bucket](https://url.emailprotection.link/?bnFTdG

[2022-04-27 22:35] JeremyGohBNP commented on #150
@erikerlandson Thanks for the file with the new credentials. I am not sure I got the right credentials though. The file you provided gives the following ones:

S3_LANDING_ENDPOINT=https://s3.us-east-1.amazonaws.com
S3_LANDING_BUCKET=redhat-osc-physical-landing-647521352890
S3_LANDING_ACCESS_KEY=XXXXX
S3_LANDING_SECRET_KEY=XXXXX

I've been trying to get the new keys for:

# s3 credentials
S3_ENDPOI

[2022-04-28 10:28] JeremyGohBNP opened #151 "New credentials for S3 bucket"
@erikerlandson Thanks for the file with the new credentials. I am not sure I got the right credentials though. The file you provided gives the following ones:

S3_LANDING_ENDPOINT=https://s3.us-east-1.amazonaws.com/
S3_LANDING_BUCKET=redhat-osc-physical-landing-647521352890
S3_LANDING_ACCESS_KEY=XXXXX
S3_LANDING_SECRET_KEY=XXXXX

I've been trying to get the new keys for:

S3_ENDPOINT=https://s3.us

[2022-04-28 19:25] chauhankaranraj commented on #150
Hey @JeremyGohBNP, as per #131 we're migrating to using the `redhat-osc-physical-landing-647521352890` bucket instead of `ocp-odh-os-demo-s3` for the demo workflow. So I think the credentials should correspond to that bucket. Are you unable to run the notebooks with this setup?

[2022-04-28 21:47] #151 closed

[2022-04-28 21:49] JeremyGohBNP commented on #150
@chauhankaranraj Thanks! I did not realize you were migrating towards the physical landing bucket! It is working fine when I set my credentials for this bucket!

Another question: I have been facing memory issues and realized that when starting my server, I am not always given the options to choose for the size or the memory. Is there something to activate or to do to make that choice become avail

[2022-05-03 21:51] Shreyanand commented on #150
@JeremyGohBNP closing this issue as the error seems to be solved. Feel free to open it if the same issue persists.

[2022-05-03 21:51] #150 closed

[2022-05-03 21:55] Shreyanand opened #153 "Evaluate changes in the corporate-data-pipeline code"
The corporate-data-pipeline code has been updated with changes such: restructuring, adding of a settings file, and addition of the rule based method in the same repository [[code](https://github.com/os-climate/corporate_data_pipeline/tree/release/nlp_model_v2)].
As a part of this issue, evaluate what all needs to be done to merge the changes in their with the aicoe-osc-demo pipelines.

[2022-05-03 22:00] Shreyanand commented on #132
Update: Elyra pipeline needs a taint error to be solved - https://github.com/operate-first/support/issues/568

[2022-05-18 19:31] Shreyanand opened #154 "Run training in a kubeflow pipeline"
Run the following notebooks in a kubeflow pipeline using Elyra.

- [ ] pdf_text_extraction
- [ ] pdf_text_curation
- [ ] train_relevance
- [ ] train_kpi

Similar to the inference pipeline, create this training pipeline.

[2022-05-19 15:20] chauhankaranraj commented on #40
/assign

[2022-05-19 17:17] Shreyanand commented on #132
The Elyra [pipeline](https://ml-pipeline-ui-kubeflow.apps.odh-cl2.apps.os-climate.org/#/runs/details/14eb92c4-bbc6-4c00-a18d-c3a66f6a5d03) was able to run.

[2022-05-19 17:17] #132 closed

[2022-05-19 17:22] Shreyanand opened #157 "Add Trino credentials to the secret"
In order to run the create results notebook, Trino credentials should be available to the notebooks. Add them to the existing openshift secret.

[2022-05-28 01:05] #40 closed

[2022-06-13 09:39] JeremyGohBNP commented on #120
@Shreyanand @chauhankaranraj Hello! I hope you enjoyed your days off! I am following up on the training pipeline implementation. How has it been going? Do you need additional info or material? Thanks for the update.

[2022-06-13 14:51] chauhankaranraj commented on #120
Hi @JeremyGohBNP, I have opened PRs (#155, #158) for both the training notebooks required in the pipeline, but they haven't been merged yet coz of some recent issues with the CI system. As soon as these are merged, we'll assemble them into a kubeflow pipeline and that would conclude the initial training pipeline implementation.

[2022-06-23 20:41] MichaelTiemannOSC opened #159 "Documentation question: is medium/zero GPUs correct starting point?"
The documentation screenshot in the instructions at https://github.com/os-climate/aicoe-osc-demo/tree/master/notebooks/demo2 shows an AICoE-CI notebook being initialized with Medium size and zero GPUs.  Is that correct, or should different initialization parameters be selected.  I thought GPUs were key to using ML.  Is Medium really the correct sizing of CPUs and RAM?

[2022-06-23 20:54] MichaelTiemannOSC opened #160 "Broken link to video walkthrough is broken in Readme.md"
**Describe the bug**
The link to the video walkthrough advertised in this section of Readme.md is broken: https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/README.md#jupyterhub-image-setup-aicoe-ci-thoth

The broken link is https://www.operate-first.cloud/users/data-science-workflows/docs/create_and_deploy_jh_image.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2022-06-24 10:34] MichaelTiemannOSC opened #161 "AWS (not S3?) credentials needed"
This cell in the pdf_text_extraction notebook names a credential I don't have (it uses AWS_ instead of S3_ prefixes):

[code]

May I please have the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY secrets?  Thanks!

@JeremyGohBNP for visibility

[2022-06-24 12:17] JeremyGohBNP commented on #161
Hi Michael, the names of the secrets (AWS_XX) were given to me in the new credentials.env file sent by Erik (after the security incident). I did not change them, hence the code using these names. There seems to be some variety in credentials names, because the initial version I had was with S3_XX. Are there standard names we should use? I just modified the code from S3_XX to AWS_XX when I received

[2022-06-24 12:44] MichaelTiemannOSC commented on #161
This fixed it for me:

[code]

[2022-06-24 12:44] #161 closed

[2022-06-24 14:19] Shreyanand opened #162 "[EPIC] Update readme to reflect new changes"
All the new changes in the demo2 should be reflected in the Readme section.

Acceptance
- [x] Document the training pipeline notebooks
- [x] Document how to setup a new experiment
- [x] Document how to setup the config files #180
- [x] Fix existing readme issues #160 #159
- [x] #197

[2022-06-24 14:23] Shreyanand opened #163 "Update inference pipeline"
Update default parameters of the [inference pipeline](https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/inference.pipeline) to point at the latest s2i image (aicoe-osc-demo:latest) and the latest s3 storage bucket (redhat-osc-physical-landing-647521352890).

[2022-06-24 14:32] Shreyanand opened #164 "Define a process to setup a new experiment"
In the current version of the aicoe-osc-demo, all users access the same links in the s3 folder to run their demo. This means, all the intermediate and output files are changed every time someone runs the demo. As more people try this out, we should come up with a process to setup a new experiment that creates files specific to a user on the s3 bucket.
One way to do this could be to have a new user

[2022-06-26 09:14] MichaelTiemannOSC commented on #8
Closing due to completed Epic mentioned above.

[2022-06-26 09:14] #8 closed

[2022-06-26 09:20] MichaelTiemannOSC commented on #87
This link is now 404: https://github.com/operate-first/apps/blob/master/docs/odh/jupyterhub/runbook.md

Pretty sure that the notebook requiring ipywidgets is the (interactive) annotation tool.

[2022-06-26 09:45] MichaelTiemannOSC commented on #164
Even better, we should encourage users to BYOB (bring your own bucket).  That way users can be responsible for the data security of their own data, while still using the public models we are training/releasing.

[2022-06-27 12:34] MichaelTiemannOSC commented on #162
By my own observations, the notebook uses around 27GB of RAM to run, so a minimal notebook seems to be 1 GPU and 32GB RAM.

[2022-06-27 12:35] MichaelTiemannOSC commented on #159
The concept of a "Default" configuration should be set according to Notebook configuration type, i.e., if I request an AI-CoE OSC Demo notebook, it should default to the above.  OTOH, if I request a default notebook for "Minimal Python" it should probably be 0 GPU and 2GB RAM.  AND IT SHOULD NOT BE BASED ON PYTHON 3.6, but at least 3.8.

[2022-06-27 14:23] Shreyanand commented on #164
That is ideal, if the user has sensitive data and they can bring their own bucket then that should be the case. As a part of this issue, we should also update the docs on how to do that.

[2022-06-27 15:04] Shreyanand commented on #162
Also add contributors guide for creating PRs on this repo: https://github.com/os-climate/aicoe-osc-demo/pull/166#pullrequestreview-1020345192

[2022-06-29 17:35] #142 closed

[2022-06-30 20:54] #141 closed

[2022-07-01 08:41] MichaelTiemannOSC opened #169 "Update Demo2 to use/reference CL2 instances"
The current demo uses and references CL1 cluster resources for Trino SuperSet.  We have a stated goal of moving all workloads off CL1 so that we can repurpose it.

- [ ] create_results_table.ipynb should load Trino on CL2, not CL1
- [ ] Superset Dashboards on CL1 should be migrated to / re-created on CL2
- [ ] README.md should be updated to reference CL2 instead of CL1 resources

[2022-07-02 16:18] MichaelTiemannOSC commented on #115
I sent an email to the OS-Climate Data Extraction mailing list:

The same goes for the AICoE team...if you have any thoughts.

[2022-07-07 17:21] #164 closed, assigned to nobody

[2022-07-08 20:24] #159 closed

[2022-07-08 20:24] #160 closed

[2022-07-09 17:13] MichaelTiemannOSC opened #171 "Bad link to setup_experments.ipybn in README.md"
**Describe the bug**
The README.md file should link to https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/setup_experiments.ipynb but it's missing the /master/ between blob and notebooks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['README.md'](https://github.com/MichaelTiemannOSC/aicoe-osc-demo/blob/master/README.md)
2. Scroll down to ['Set up experiments'](

[2022-07-10 14:26] MichaelTiemannOSC opened #172 "move_data.ipynb does not honor EXPERIMENT_NAME, S3_DEV nomenclature"
The setup_experiments.ipynb introduces the idea of an EXPERIMENT_NAME to support the concept of multiple independent pipelines working within the AICoE OSC Demo arena.  The move_data notebook should adopt this pattern.

As well, the notebook uses different names than we have been given to refer to the ocp-odh-os-demo-s3 bucket:

# S3 Credentials for Development Data Bucket
S3_DEV_ENDPOINT vs Trino

[2022-07-10 17:38] MichaelTiemannOSC opened #173 "nms is not compiled with GPU support"
**Describe the bug**
Running pdf_table_extraction.ipynb leads to the following error:

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
Input In [14], in <cell line: 2>()
      1 # get bounding box coordinates for tables
----> 2 temp = inference_detector(table_extractor.model, np.array(images[ima

[2022-07-11 12:32] MichaelTiemannOSC opened #174 "annotation input locks up train_kpi_extraction"
**Describe the bug**
I've been adding annotations to `s3://redhat-osc-physical-landing-647521352890/test_cdp2/pipeline_run/cdp/annotations/20220709 CDP aggregated_annotations_needs_correction.xlsx` and have now managed to lock up the train_kpi_extraction notebook.  Here's the output cell where progress stops:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. My experiment is rooted at

[2022-07-11 12:35] MichaelTiemannOSC commented on #174
Copying @JeremyGohBNP @andraNew for visibility.

[2022-07-11 15:28] Shreyanand commented on #118
In the current version of aicoe-osc-demo, we use openshift secrets that solve this problem. I'm closing this issue but if there are any password leaks or potential leaks, feel free to create a new issue and we would prioritize it as urgent.

[2022-07-11 15:28] #118 closed

[2022-07-11 15:54] Shreyanand commented on #87
The latest version of the image run without any errors.

[2022-07-11 15:54] #87 closed

[2022-07-11 16:11] Shreyanand opened #175 "Add table extraction and curation to the deprecated directory"
In our initial conversation with IDS folks, we found out that the table extraction and their models do not give good results, so we decided to focus on the text extraction notebooks.
The table extraction and curation are still a part of the demo2 directory but we should add it to the deprecated directory to avoid confusion.

[2022-07-11 16:11] Shreyanand commented on #173
pdf_table_extraction is not currently a part of the demo. In our initial conversation with IDS folks, we found out that the table extraction and their models do not give good results, so we decided to focus on the text extraction notebooks.
The table extraction and curation are still a part of the demo2 directory but we should add it to the deprecated directory to avoid confusion. Created #175 for

[2022-07-11 16:46] MichaelTiemannOSC commented on #175
Before you deprecate it, please consider that when it comes to random ESG reports, all tables are all different.

When it comes to CDP reports, the tables are all very much the same shape, and there are thousands of reports to scan.  Ditto EEI reports.  Let's see whether table extract works well or poorly on highly consistent tables (CDP in its lane, EEI in its lane).

[2022-07-12 14:31] MichaelTiemannOSC commented on #174
Same problem, but locks up differently, each time I run it:

[code]

[2022-07-12 17:10] Shreyanand opened #176 "Onboard developer to aicoe-osc-demo"
@rishirich

Checklist

- [ ] Request credentials using this [link](https://github.com/os-climate/OS-Climate-Community-Hub/issues/new?assignees=erikerlandson&labels=Bucket-credentials&template=request-credentials-for-an-os-climate-bucket.md&title=Request+credentials+for+an+os-climate+bucket)
- [ ] [Access Jupyterhub environment ](https://github.com/os-climate/aicoe-osc-demo#access-jupyterhub-enviro

[2022-07-12 19:11] Shreyanand commented on #174
@MichaelTiemannOSC I was able to reproduce the same error with the new dataset that you tried. We didn't see this error when we ran the notebook with ESG reports.
I will look into the annotations, infer relevance outputs, the training validation split code, and the pre-processing code to find the root cause.
[code]

[2022-07-13 01:50] MichaelTiemannOSC commented on #176
Just a note that the readme file does mention the need for annotation files, but provides no guidance as to how to annotate for the given models.  It would be extremely helpful to have links to documents about the dos and don'ts of annotation:
- how much extra contextual information (paragraphs, sentences) are too much or too little?
- Does the page reference indicate the start of the KPI to be ex

[2022-07-13 16:10] MichaelTiemannOSC commented on #174
Talked with David Beßlich this morning.  He suggested (1) deleting the column of row_id data (first column), and (2) the CSV reader protected double-quotes in the paragraph text by wrapping the overall cell text in curly double-quotes.  I changed straight double-quotes to single-quotes, then curly double-quotes to straight double-quotes, and that got me through to training relevance OK.  But then

[2022-07-13 16:30] MichaelTiemannOSC commented on #174
Alas, the fixes I made to the file have not helped the cause.

[2022-07-13 16:46] MichaelTiemannOSC commented on #174
When I interrupt the kernel, it looks like a deadlock situation:

[code]

[2022-07-14 15:35] HumairAK commented on #157
@Shreyanand not sure what you are asking for. Are you asking for other issues with the same problem? or other issues that resolved the same problem?

[2022-07-14 15:48] Shreyanand opened #178 "Feasibility study: ditch farm and use pytorch"
Estimate the benefit, risk, and labor cost involved in removing the farm architecture and using simple PyTorch. We want to see if we do that, then does our workflow that involves quay image and Kubeflow pipelines become easy to understand, simplified, and less error-prone.

[2022-07-14 15:50] Shreyanand opened #179 "Integrate training pipeline and the inference pipeline so that they work together"

[2022-07-14 15:51] Shreyanand opened #180 "Update README to reflect the training pipeline content"
Explain in Readme how to use the training pipeline and how to edit the config file to run the pipeline.

[2022-07-14 15:59] Shreyanand opened #181 "Annotation guideline"
Just a note that the readme file does mention the need for annotation files, but provides no guidance as to how to annotate for the given models.  It would be extremely helpful to have links to documents about the dos and don'ts of annotation:
- how much extra contextual information (paragraphs, sentences) are too much or too little?
- Does the page reference indicate the start of the KPI to be ex

[2022-07-14 16:00] Shreyanand commented on #176
@rishirich has access to the bucket and has created his env for experiments.

[2022-07-14 16:42] Shreyanand opened #182 "Rename project and directories"
With recent changes in the project, we should rename the following:

1) aicoe-osc-demo is not reflective of the contents of this repository and should be renamed. Suggestions: osc-nlp; osc-pdf-analysis; osc-pdf-nlp ....

2) Since demo1 is deprecated and we are using demo2 for all experiments, we should remove numbers from directory names.

[2022-07-14 16:52] Shreyanand opened #183 "train_kpi_extraction is buggy with 145 training files"
The train_kpi_extraction notebook errors out when we run it with 145 files. The [pipeline](https://ml-pipeline-ui-kubeflow.apps.odh-cl2.apps.os-climate.org/#/runs/details/18839598-e023-4725-8b42-631a8e87f611) is here and the screenshot shows the error.
![Screenshot from 2022-07-14 12-49-15](https://user-images.githubusercontent.com/8916126/179036458-0eb10f3c-8eef-4b2b-a53c-6c6eea50e0eb.png)

[2022-07-14 17:18] Shreyanand opened #184 "Add benchmarking for inference notebooks"
For us to evaluate sparsification results, we need to evaluate the performance of each inference step: relevance and kpi-extraction.

- As a part of this issue, create a notebook called benchmarks.ipynb in the demo2 directory. This notebook will load the relevance model and the kpi extraction model and infer from large number of pdfs (145 samples).

- Results should look something like this:
  - R

[2022-07-14 18:33] HumairAK commented on #157
@Shreyanand as far as I'm aware we don't have such an issue

[2022-07-15 11:26] MichaelTiemannOSC commented on #174
I have updated my experiments to include the latest changes from 7/14.  I tried some binary searches to narrow the problem.  I have found:

- I can run NextEra + Apple together in a single KPI_EXTRACTION training run
- adding one line from PG&E or Bayer causes the training to deadlock
- I can run PG&E by itself and it completes
- Running PG&E+Bayer deadlocks
- Running Bayer by itself completes

[2022-07-16 11:16] MichaelTiemannOSC commented on #174
Hunting around I found this report: https://github.com/deepset-ai/FARM/issues/119#issuecomment-543307582

Memory pressure is a cause of deadlock, and indeed the user reported the same sort of stack trace as above when using the Docker containers default shm size, which happens to look just like this:

[code]

The fix was to use --ipc=host or --shm=size but I don't see how to insert such options in

[2022-07-16 11:52] MichaelTiemannOSC commented on #174
When I run kpi_extraction, I see that almost all shm is immediately used up:

[code]

[2022-07-18 05:25] MichaelTiemannOSC commented on #183
I don't know about this screenshot, but there's a bug I found in the (very old) farm code.  The setting of pred_id in `farm/modeling/prediction_head.py` should only use basket.id_internal if basket.id_external is None.  I'm reporting this fact in such a hokey way because the GitHub code for the version supported by Red Hat is not at my fingertips.  Without this fix, we get JSON errors when the id_

[2022-07-18 14:59] Shreyanand commented on #180
Update the architecture diagram to include the training pipeline.

[2022-07-20 10:00] MichaelTiemannOSC commented on #174
Based on this response: https://github.com/elyra-ai/elyra/issues/2838#issuecomment-1189323410

Can somebody look at adapting the OpenShift pattern to the Kustomizations we use?

@HumairAK @rynofinn

[2022-07-20 12:52] JeremyGohBNP opened #186 "Spawn failed"
![image](https://user-images.githubusercontent.com/82595185/179986402-376f1e70-f57a-404b-ab67-b29b4f52377f.png)

I have trouble starting a server. It seems no node is available and I am always met with a Spawn failed. Is there any ongoing issue?

[2022-07-20 13:07] JeremyGohBNP commented on #186
Got solved when setting GPU to 0 (default was 1)

[2022-07-20 16:08] JeremyGohBNP commented on #186
Is the issue going to be fixed though? Because with only CPU and no GPU, processing times are unfortunately going through the roof. Thanks!

[2022-07-20 16:08] JeremyGohBNP commented on #186
@MichaelTiemann @erikerlandson for visibility

[2022-07-20 16:12] MichaelTiemannOSC commented on #186
I relinquished my claim on one of the GPUs this morning (after seeing the message).  Can you see if that freed up what you need?  I agree we need better dashboards to show resources (and hoarders).

@Shreyanand please suggest who might also work on providing dashboard/status displays to help use understand resource avails from the cluster.  Thanks!

[2022-07-20 18:24] Shreyanand commented on #186
@HumairAK @redmikhail Is it possible to accommodate this request for dashboards? In general it would be useful to see how the GPUs are being used.

[2022-07-20 18:26] Shreyanand commented on #183
@MichaelTiemannOSC I tried disabling the multiprocessing and it seemed to have solved the problem here as well. Although it has been >24hrs since I started training it.

[2022-07-21 07:44] MichaelTiemannOSC commented on #178
Noting that FARM project has transitioned to HAYSTACK: https://github.com/deepset-ai/haystack/ and that some OS-Climate members are also HAYSTACK sponsors/supporters.

[2022-07-21 12:16] MichaelTiemannOSC opened #187 "Please review alien PR created because I don't understand AICoE git disciplines"
I created a fork of the AICoE project and jumped through various hoops to make a completely clean PR within that world.  But now I see no easy way to connect that world to the AICoE world.  Please enlighten (and please apply this patch if you agree with its contents).

https://github.com/MichaelTiemannOSC/aicoe-osc-demo/pull/1

[2022-07-22 18:55] Shreyanand commented on #178
There are two alternatives that seems plausible here:

1) Using a solution like mentioned [here](https://haystack.deepset.ai/components/ready-made-pipelines#extractiveqapipeline
)

    Benefits:
    - retriever and reader are in the same pipeline so simpler architecture
    - latest models using the HAYSTACK library
    - may solve the multiprocessing issue with kpi-train

    Risk and Cost:
    -

[2022-07-22 19:15] MichaelTiemannOSC commented on #178
Let's not forget that we have a technical solution (disable multiprocessing) and a view to a technical solution (allocating appropriate amounts of SHM) to the train kpi-extraction problem.  If there are OTHER problems with farm we want to solve, let's talk about those, but we should be able to dispose of the kpi-extaction problem very simply.

[2022-07-25 12:16] MichaelTiemannOSC commented on #187
Closed by opening https://github.com/os-climate/aicoe-osc-demo/pull/188

[2022-07-26 12:56] Shreyanand commented on #184
@rishirich please add any updates for the approach you are taking to solve this issue here.

[2022-07-26 15:43] Shreyanand commented on #178
The disable multiprocessing solution makes the training almost impractical, in one experiment it took around 1.5 days to train 80%  only to run into kernel error. This was for training with 145 files. When we get more annotated files, it would be even more difficult. Allocating appropriate amounts of SHM seems like longer term solution to get working.

One other obvious problem with FARM is, like

[2022-07-26 17:23] erikerlandson commented on #178
We should absolutely get off of the unmaintained package.  We could use farm-haystack but it's an added layer of dependency and I'm trying to sort out the cost/benefits over just using transformers package.

cc @JeremyGohBNP @ChristianMeyndt @idemir-ids @andraNew

[2022-07-27 16:35] rishirich commented on #184
@Shreyanand I was trying to take direct measurements of times taken by each PDF, but then figured that the time taken per PDF is dictated by the number of pages and its text density in general.
I did a deep-dive into the code and checked how the data was gathered and chunking was done on it.
I think a more accurate way of benchmarking would be to create chunks out of each individual page (chunk =

[2022-07-27 16:54] MichaelTiemannOSC commented on #184
We discussed in the Data Extraction weekly meeting that the extractor's pattern for recognizing paragraphs (a newline or perhaps a pair of newlines) was creating pessimal results for CDP documents where a paragraph is a short sentence "State the global scope 1 CO2 emissions (in megatons)" and the answer is even shorter ("1000").  Many small paragraphs are NOT conducive either to its method of extr

[2022-07-27 17:06] MichaelTiemannOSC commented on #184
@DaBeIDS @MichaelTiemannOSC for visibility

[2022-08-04 14:56] Shreyanand opened #191 "Create a settings file for users to configure model parameters"
The NLP demo currently has three config files: config.py, conifg_farm_train.py, and config_qa_farm_train.py.

They all configure the different parts of the process but not in a very user friendly manner and should be updated.

There was an effort to bring a central settings.yaml in the corporate_data_pipeline repository (see [here](https://github.com/os-climate/corporate_data_pipeline/blob/release

[2022-08-04 18:21] Shreyanand opened #192 "Update the user workflow around pdf selection"
The NLP demo is to be transitioned into a public tool and it should have a user friendly workflow around which PDFs are used for training and inference.
Based on the discussion in the email, here's what I gathered has to be implemented:

- The user is shown a list of PDFs to select from
- The selected PDFs are then moved to a new experiment location
- The inference pipeline runs with the selected

[2022-08-04 18:25] Shreyanand opened #193 "[EPIC] User experience"
The NLP demo is to be transitioned into a public tool and it should have a user friendly workflow around selection of input files, and model parameters. Following issues should be completed:

- [X] Setting up a new experiment #164
- [x] Introduce a settings file #191
- [x] Define a PDF selection process #192

[2022-08-04 20:04] MichaelTiemannOSC commented on #192
There are two use cases for PDF selection: training and extraction.  In the case of training, the user should be selecting an annotations file (which might then show the user the PDFs that will be used for training).  In the case of extraction, the user should be able to select the PDFs directly.  The annotations file should have some helpful metadata so that when users are selecting from annotati

[2022-08-04 20:10] MichaelTiemannOSC commented on #191
I think it makes a lot more sense to document settings in a single file and then farm those out (no pun intended) to whatever python initializations are needed.  Especially if we are thinking about moving to an implementation that works directly with PyTorch or directly with Haystack.  There will be some settings parameters that are specific to Farm that should be documented as such, but we should

[2022-08-16 17:36] #191 closed

[2022-08-18 14:43] Shreyanand opened #197 "Add a how to contribute guide"
Add a how to contribute guide in the Readme that covers how to get pre-commit checks working, how to squash commits, how to create a PR with one single change that is easy to review, and any other practices followed in the project.

[2022-08-22 20:30] Shreyanand commented on #169
Trino on cl2 should have access to redhat-physical-landing bucket to use the raw parquet file as source. Or, should the notebooks store the output files on a bucket that can be accessed by Trino? @erikerlandson

[2022-08-23 16:36] erikerlandson commented on #169
On CL2, the ultimate goal would be to get it into the iceberg catalog - for that one could use `TrinoBatchInsert` class with `df.to_sql` (only scalable for fairly small data), or for larger data the newer `fast_pandas_ingest_via_hive` method, which
is demonstrated here:

https://github.com/os-climate/data-platform-demo/blob/master/notebooks/trino-hive-iceberg-ingest.ipynb

[2022-08-23 16:38] erikerlandson commented on #169
However, for input data, it should work to use `redhat-physical-landing` bucket just the same as it would on cl1

[2022-08-26 09:47] MichaelTiemannOSC opened #200 "Reorganize README to split container infra from pipeline construction"
I am trying to use the latest documentation to guide how to create a pipeline for the (still private) PCAF sovereign footprint POC.  I appreciate that the AICoE demo is trying to address two audiences: those who are building the actual containers that will run the jobs, as well as those who are building the notebooks that need to use those containers, but which are much more concerned with the cal

[2022-08-26 15:37] schwesig commented on #200
/kind bug

[2022-08-26 15:37] sesheta commented on #200
@schwesig: The label(s) `kind/bug` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/os-climate/aicoe-osc-demo/issues/200#issuecomment-1228648231):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions relate

[2022-08-31 12:24] JeremyGohBNP commented on #192
Indeed, training and extraction would be 2 separate pipelines - the priority would be the extraction pipeline though. That being said, it does not hurt to implement the training pipeline simultaneously. Here is my vision:
- Extraction: the user enters a company (either ID, name, or other characteristics like region, sector mentioned by Michael) ; he gets a list of PDFs to select from. If no one is

[2022-09-14 11:40] #162 closed

[2022-09-14 12:39] JeremyGohBNP opened #201 "User Story: I want to get a company's KPIs"
The KPIs that have already been extracted and validated are saved onto an S3 bucket and browsable with trino. They are exposed using SuperSet. If I want to access a company's KPIs:

- I log onto SuperSet
- I look for the company I am interested in, searching it by name (or by ID?) and year (?) -- **Insert illustrative screenshot (IIS)**
- The KPIs will be displayed with corresponding information a

[2022-09-14 12:41] JeremyGohBNP opened #202 "User story: I want to add a KPI"
The list of KPIs that can be extracted are available in the kpi_mapping.csv file (link to file?). If I am interested in a KPI that has not yet been integrated in the list:

- I download the kpi_mapping.csv file and edit it with additional KPI (where? interface?)
- I make sure that the newly updated kpi_mapping.csv file is the one fed to the extraction pipeline (needs to be detailed)
- I should be

[2022-09-14 12:41] JeremyGohBNP opened #203 "User story: I want to add a report/company"
I can check the list of companies (and their reports) that are available in the PDF catalogue (TBC ; link to the catalogue). If I do not find a specific company or report:

- I check other sources to retrieve the report
- I upload the PDF report (where? how? interface?)
- I make sure to provide all the information required to properly reference and store the report, e.g. name, year, metadata
- The

[2022-09-14 12:42] JeremyGohBNP opened #204 "User story: I want to perform and/or add annotations"
I can perform *a priori* annotations on a PDF. It is recommended to use the annotation pipeline available, leveraging an Open Source solution called INCEpTION. The pipeline works as follows:

- I log on to INCEpTION
- I upload the PDF I want to annotate
- I might be asked to define Data Structures and Labels of what I want to annotate and how: predefined structures are available for existing KPIs

[2022-09-14 12:43] JeremyGohBNP opened #205 "User story: I want to perform KPI extraction"
If I want to extract KPIs from a PDF report, the procedure is as follows:

- I log onto the extraction tool/interface (credentials TBD)
- I look for the company/report I am interested in, searching it by name or ID (and year?)
- I am presented with a list of corresponding reports
- I select the correct report if it exists in the catalogue. If not, I can manually add the report (refer to *I want to

[2022-09-14 12:44] JeremyGohBNP opened #206 "User story: I want to evaluate accuracy"
If I only want to evaluate model accuracy:

- I perform KPI extraction on a set of companies, reports, KPIs that I am interested in (refer to *I want to perform KPI extraction*)
- I review the results and manually annotate them using the ad-hoc Annotation tool (refer to *I want to perform annotations*)
- I compute the metrics according to what I want to diagnose

[2022-09-15 19:42] Shreyanand commented on #197
solved in #198

[2022-09-15 19:42] #197 closed

[2022-09-16 15:44] shreekarSS opened #207 "Remove pipfile-requirements manager from .thoth.yaml"
**Describe the bug**

The pipfile-requirements manager can be removed because requirements.txt isn’t being utilized for packaging or deployment. Only the Pipfile.lock is needed for deployment info.
Else Kebechet's Update manager will not work on this aicoe-osc-demo repo

**To Reproduce**
Steps to reproduce the behavior:
1. Create an issue with title  'Kebechet update'
2. Kebechet's pipfile-require

[2022-09-19 19:27] erikerlandson commented on #205
I wanted to clarify that Red Hat Emerging Tech Data Science does not have the engineering bandwidth or the application development skill set to address these user story elements. The work that @Shreyanand did updating the existing notebooks to allow choosing pdf directories and running against them should provide a good baseline capability for most of these, and can be used as a starting point for

[2022-09-20 11:37] codificat commented on #207
Actually, the pipfile-requirements manager failure like https://github.com/shreekarSS/aicoe-osc-demo/issues/2 might be a bug in Kebechet, as I believe that the mentioned `Pipfile` entry could be translated to a `requirements.txt` entry.

Nevertherless, it's probably a good idea to remove that manager from this repo's configuration, as you say, because there is no `requirements.txt` here and it doe

[2022-09-28 13:15] JeremyGohBNP opened #209 "import packages"
I've been struggling with importing packages in Notebooks. Has the image been modified? For example, import pandas fails.

[2022-09-28 20:41] Shreyanand commented on #209
Hi Jeremy, which image are you using for your Notebooks?

[2022-09-29 12:29] JeremyGohBNP commented on #209
I used the aicoe image

[2022-09-29 15:14] Shreyanand commented on #209
I tried it on my end and it seems to be working fine. Can you screenshot the error or write steps to reproduce the error?

[2022-10-04 08:57] JeremyGohBNP opened #211 "Unable to start server"
Spawn failed. Time out when I tried to start the server. It only worked in the default configuration: 0 GPU, Small memory.

I tried with multiple configurations: did not work with 1 GPU, so I tried with CPU only but it failed too. Would it be because of Large Memory size I required?

![image](https://user-images.githubusercontent.com/82595185/193778353-023a29ef-a918-44ad-822a-75113afbe4d0.png)

[2022-10-04 20:45] magick93 opened #213 "Add to odh-env-users"
Hello

I'd greatly appreciate getting access to the aicoe-osc-demo so I can introduce it to my organization.

Thanks

[2022-10-04 22:24] Shreyanand commented on #211
Hi @JeremyGohBNP, does the bug still persist?

[2022-10-05 00:44] redmikhail commented on #211
@JeremyGohBNP , based on log entries your notebook is being scheduled to the regular node without GPU. I think that you need to select one of CUDA images but I hope @Shreyanand can suggest what needs to be done

[2022-10-07 19:53] Shreyanand commented on #213
@erikerlandson @HumairAK

[2022-10-07 19:57] MichaelTiemannOSC commented on #213
Invitation to join the part of OS-Climate that's also working with AI-CoE.  @erikerlandson may need to issue other credentials, but welcome from OS-Climate!

[2022-10-07 19:58] #207 closed

[2022-10-10 13:29] JeremyGohBNP commented on #211
The bug persists. I switched to CL1 for a demo last week.

[2022-10-11 09:16] JeremyGohBNP commented on #211
![image](https://user-images.githubusercontent.com/82595185/194908388-84e85ae3-8c62-4589-9852-9bb6aabd32ac.png)
![image](https://user-images.githubusercontent.com/82595185/195050171-9ef2f68c-1a8d-4165-91ad-4df7e55db57e.png)
This is the configuration I set and the message error I have everytime.

[2022-10-12 21:37] Shreyanand commented on #192
Addressed in #196

[2022-10-12 21:37] #192 closed

[2022-10-12 21:37] Shreyanand commented on #193
Addressed in #164, #191, #192

[2022-10-12 21:37] #193 closed

[2022-10-12 21:50] Shreyanand opened #215 "[EPIC] Sparsification"
The current relevance and kpi extraction models are huge (0.3gb and 1.3gb respectively) and they take around a total of 15mins to infer for a pdf. We want to find smaller version of the models that get similar performance but using a smaller and faster model.

Overall, we want to investigate model pruning and test the effects of tools such as NeuralMagic to measure the performance impact of differ

[2022-10-25 22:48] suppathak opened #218 "Setup-environment variable names"
**Describe the bug**
Environment variable names are not in alignment with the names given in the env file [example](https://github.com/os-climate/os_c_data_commons/blob/main/docs/credentials.env) :

**To Reproduce**
Run these notebook:
- [setup-expt](https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/setup_experiments_default_pdfs.ipynb)
- [pdf_txt_ext](https://github.com/os-

[2022-10-25 22:53] suppathak opened #220 "No module named "osc_ingest_trino" error"
**Describe the bug**
ModuleNotFoundError: No module named 'osc_ingest_trino'

**To Reproduce**
Run the notebook, [create_table](https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/create_results_table.ipynb)

**Expected behavior**
Run without error

**Screenshots**
![Screenshot from 2022-10-25 15-52-23](https://user-images.githubusercontent.com/30439457/197896918-20f2dd47-c5c0

[2022-10-27 11:52] #218 closed

[2022-10-27 15:34] Shreyanand opened #221 "Create huggingface version of text classification relevance task"
In order to integrate better with the sparsified models, it would be easier to write models using the transformer package.

Acceptance:

- [ ] Add a training and inference notebook for relevance task using transformer package

[2022-10-27 15:37] Shreyanand opened #222 "Use sparsified neural models for relevance task"

[2022-10-27 15:48] Shreyanand opened #223 "Create huggingface version of QA KPI extraction task"

[2022-10-28 07:19] Madhumithran opened #224 "Add to odh-env-users"
Hi

I'd greatly appreciate getting access to the aicoe-osc-demo.

Thanks

[2022-11-02 16:04] Jeevi281 opened #226 "Couldn't add Kubeflow Pipelines runtime configuration"
I tried to add new kubeflow pipelines runtime, i entered the credentials and saved and closed it. Still the runtime is not added.

[2022-11-02 16:37] Shreyanand commented on #224
Hi @Madhumithran, we moved access control to the community hub repository, could you please open the same issue [here](https://github.com/os-climate/OS-Climate-Community-Hub/issues/new). Thanks!

[2022-11-02 16:37] #224 closed

[2022-11-02 16:39] Shreyanand commented on #226
Hi @Jeevi281, could you please write the steps to reproduce the error and add screenshot if possible? A good format to follow would be the issue template for bug report.

[2022-11-03 04:05] MichaelTiemannOSC commented on #220
If you haven't sorted this yet, the fix is to `pip install osc-ingest-tools`.  Then you can load the library.  How you manage your requirements.txt to provide for this (or other mechanisms for doing so) is up to you!

https://pypi.org/project/osc-ingest-tools/

[2022-11-03 08:06] Jeevi281 commented on #226
Okay sure @Shreyanand

[2022-11-03 08:06] #226 closed

[2022-11-03 08:19] Jeevi281 opened #228 "Couldn't add kubeflow pipeline runtime configuration"
**Describe the bug**

I couldn't able to add kubeflow runtime to run the pipeline.

**To Reproduce**

1. After creating the pipline like this

![Screenshot (209)](https://user-images.githubusercontent.com/116078421/199672887-3b5b7149-52a3-4810-82bc-bdaaa6a9d2ee.png)

2. Go to 'runtime' on the left side bar
3. Click on ' + icon' on right upper corner
4. Select 'New Kubeflow Pipeline runtime configu

[2022-11-07 04:56] Jeevi281 commented on #228
@Shreyanand

[2022-11-07 16:08] schwesig commented on #228
see also YouTube comment:
https://www.youtube.com/watch?v=lGeT615YNlM&lc=UgxmpMwWqw-345wvcRx4AaABAg

[2022-11-07 16:20] Shreyanand commented on #228
Thanks for adding the details @Jeevi281. It seems that the cloud object storage and password are not added in the configuration. In the [docs](https://github.com/os-climate/aicoe-osc-demo/blob/master/docs/elyra-pipeline.md#add-kubeflow-pipeline-runtime-configuration) there is an example.
Do you have credentials for any s3 bucket that you could use? If not, you could create an issue [here](https://

[2022-11-07 16:58] Shreyanand commented on #211
Hi Jeremy, @HumairAK confirmed that he was able to spawn both gpu and no gpu instance. Could you please try and see if it works for you?
![image (1)](https://user-images.githubusercontent.com/8916126/200368782-6b037a40-20b7-40e6-a001-a76bd72bf68a.png)

[2022-11-08 06:50] Jeevi281 commented on #228
Thanks @Shreyanand. I added the configuration as you said, the runtime is added now. Though, I couldn't able to see status in run details

**To Reproduce**
1. After clicking run pipeline with the created kubeflow pipeline configuration, the below dialogue box is popped.

![Screenshot (225)](https://user-images.githubusercontent.com/116078421/200494222-202b4b46-f3da-45be-87ad-44ef73ba0754.png)

2.

[2022-11-08 14:54] #211 closed

[2022-11-08 17:02] MichaelTiemannOSC commented on #228
What's happening here is that *.cluser.local is entirely within the kubeflow world--there's no externally valid route point.  There are various services that can peer into the kubeflow world and report things out--especially if you have admin privs.  But generally speaking, the environments of the images you create and run are not publicly visible.

There is a whole paradigm around how these pipel

[2022-11-08 17:40] Shreyanand commented on #228
The UI dashboard for kubeflow is available at this [location](https://ml-pipeline-ui-kubeflow.apps.odh-cl2.apps.os-climate.org/#/runs). You can track your runs here. The *.cluster.local endpoint used in the configuration is internal and the Elyra UI uses that to generate the alert box and so it leads to page not found.

[2022-11-08 23:58] Shreyanand opened #231 "[EPIC] Sparsification for KPI extraction question answering task"
The current KPI extraction question answering model is huge (1.7gb) and it takes around a total of 7mins to infer for a pdf. We want to find smaller version of the models that get similar performance but using a smaller and faster model.

Overall, we want to investigate model pruning and test the effects of tools such as NeuralMagic to measure the performance impact of different levels of pruning.

[2022-11-09 00:04] Shreyanand opened #232 "Try Intel Open Vino for the relevance task"
For the text classification relevance models that we created, we want to test the performance enhancement achieved by Intel Open Vino framework and compare it with the neural magic models. Try implementing some aspects of these [docs](https://docs.openvino.ai/2022.2/openvino_docs_model_optimization_guide.html#doxid-openvino-docs-model-optimization-guide).

[2022-11-09 07:25] Jeevi281 commented on #228
Resolved! Thanks @Shreyanand @MichaelTiemannOSC

[2022-11-09 07:25] #228 closed

[2022-11-09 07:47] Jeevi281 opened #233 "KeyError: 'TRINO_PASSWD'"
**Describe the bug**
While executing the 'create result table' notebook got this error -> KeyError: 'TRINO_PASSWD'. So, I tried using JWT token as well as github pwd in place of TRINO pwd in credentials. Still the error persists.

**To Reproduce**
Steps to reproduce the behavior:
After started running the inference pipeline
1. Go to 'kubeflow '
2. Click on 'Runs'

![Screenshot (228)](https://user-

[2022-11-09 15:08] Shreyanand commented on #115
We switched to the physical landing bucket but the issue still persists in that bucket. I have created an issue on the Elyra upstream for it to ask for a workaround.

[2022-11-09 15:41] Shreyanand commented on #233
@Jeevi281 The create_results_table notebook creates a Trino table that can be queried using SQL like commands. You need to put the Trino database credentials in the pipeline property of the notebook. This [image](https://github.com/os-climate/aicoe-osc-demo/blob/master/docs/assets/demo2-notebook-properties.png) in Elyra pipeline doc shows where you have to enter them. The documentation [here](http

[2022-11-09 16:07] ptitzler commented on #115
See https://github.com/elyra-ai/elyra/issues/3005 for more information. I believe the version of Elyra you have deployed should already support this.

[2022-11-09 16:26] ptitzler commented on #115
In general, please feel free to bring up issues/concerns with Elyra in one of our [public community channels](https://elyra.readthedocs.io/en/stable/getting_started/getting-help.html). The functionality you were looking for was delivered May 2022 and is included in [version 3.8](https://github.com/elyra-ai/elyra/releases/tag/v3.8.0) and above. For reference, this is the [ODH PR that picks this up]

[2022-11-10 18:46] #221 closed

[2022-11-10 21:23] #220 closed

[2022-11-10 21:49] Shreyanand opened #236 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.19.0

[2022-11-11 17:59] Shreyanand commented on #236
@harshad16 where can I see if the pipeline got triggered?

[2022-11-14 21:44] Shreyanand commented on #236
Is this the right place for pipeline runs: https://tekton.operate-first.cloud/#/namespaces/opf-ci-pipelines/pipelineruns?
If so, it doesn't seem to have been triggered.

[2022-11-14 22:00] harshad16 commented on #236
yes that seems to be the right place for this query to run.
will examine the issue.

[2022-11-14 22:12] Shreyanand commented on #236
closing and recreating this.

[2022-11-14 22:21] harshad16 commented on #236
Seems like admins for the repository have disabled the bot aicoe-ci.
one can verify it by checking `Setting > GitHub apps`

Admin can install the bot for this specific repo by request it from here: https://github.com/apps/aicoe-ci

@Shreyanand  @erikerlandson

[2022-11-15 08:54] Jeevi281 opened #237 "Access Trino"

[2022-11-15 08:57] #237 closed

[2022-11-15 08:59] #233 closed

[2022-11-16 05:33] Jeevi281 opened #238 "TrinoUserError"
**Describe the bug**
Getting error while executing create_result_table notebook

**To Reproduce**
Steps to reproduce the behavior:
After started running the pipeline
1. Go to 'kubeflow'
2. Click on 'Runs'
![Screenshot (232)](https://user-images.githubusercontent.com/116078421/202092085-0e8935c0-839c-4f26-883c-1dda9d3bd28c.png)

**Error Message:**
TrinoUserError: TrinoUserError(type=USER_ERROR, nam

[2022-11-16 14:46] HeatherAck commented on #238
@erikerlandson can you please take a look

[2022-11-16 20:46] Shreyanand commented on #236
@harshad16 I think the bot is there now and I see a trigger on the tekton dashboard. I'll close this issue once the image gets pushed.

[2022-11-16 20:59] sesheta commented on #236
Successfully built and delivered the image.
Image can be found at:[quay.io/os-climate/aicoe-osc-demo:v0.19.0](https://quay.io/os-climate/aicoe-osc-demo:v0.19.0)

[2022-11-16 20:59] #236 closed

[2022-11-17 21:52] Shreyanand opened #239 "Explore onnx runtime for inference"
Onnx [runtime](https://onnxruntime.ai/) is a format used by neural magic for compressed memory sized models. We want to explore that and the quantization features that it comes with. Add a notebook that uses this runtime with the relevance text classification task.

[2022-11-19 16:53] ashuYB opened #241 "pdf_table_extraction.ipynb notebook (dem) error"
Hello team,

I am trying to execute the demo notebook (pdf_data_extraction) and 'am getting an error while importing:

**from src.data.s3_communication import S3Communication**

ImportError: cannot import name 'PDFTableExtractor' from 'src.components.preprocessing' (/opt/app-root/lib64/python3.8/site-packages/src/components/preprocessing/__init__.py)

I was speaking with Ryan Day and he suggested

[2022-11-20 07:14] Jeevi281 commented on #238
@erikerlandson can you please help with this?

[2022-11-21 17:43] HeatherAck commented on #238
adding @rynofinn and @Shreyanand

[2022-11-21 18:35] HeatherAck commented on #238
@Jeevi281 - can u let us know if you are using osc ingest tools?  can you let us know what version of software / image you are using and notebook? - please provide us link to github

[2022-11-21 19:05] HeatherAck commented on #241
@Shreyanand are the instructions still accurate and branch accurate

[2022-11-21 22:18] Shreyanand commented on #238
@Jeevi281 this seems like an old version of the notebook. You could pull in the latest changes from this repository that has the updated [create_results_table notebook](https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/create_results_table.ipynb) that uses the iceberg catalog.
I'm working on creating a new docker image that includes the latest code directly.

On a separate n

[2022-11-21 23:35] Shreyanand commented on #241
@HeatherAck The instructions are accurate but since we are not using the NLP models for table extraction, it is not updated and has errors.  The pdf text extraction and other notebooks in the inference.pipeline and training.pipeline should work fine.

[2022-11-23 14:57] ashuYB commented on #241
Hello team, @Shreyanand and I made progress but the pdf_text_extraction notebook doesn't create the extracted output in the ~/data/extraction

[2022-11-27 06:40] heshiming opened #245 "Where is icdar_19b2_v2.pth?"
The source code of [notebooks/demo2/pdf_table_extraction.ipynb](https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/pdf_table_extraction.ipynb) needs a file named `icdar_19b2_v2.pth` but it is not in the repo.

Where can I find this file?

[2022-11-28 18:06] HeatherAck commented on #238
@Jeevi281 - we assume the version is the problem.  closing - please reopen if you have issues

[2022-11-28 18:06] #238 closed

[2022-11-29 19:08] Shreyanand commented on #245
pdf_table_extraction is not actively maintained since we focused on the text models. However, I think what you're looking for is [here](https://github.com/os-climate/aicoe-osc-demo/blob/master/src/components/utils/cscdtabnet_checkpoint_url.py).